[2019-11-07 15:42] Silind opened #1 "Optimized bundle-size for projects"
Enhance the build-script such that all shared dependencies between components are hoisted to project level.

Steps:
- [ ] Create script for detecting shared dependencies across components
- [ ] Configure Webpack to chunk components during build to remove shared third party libraries
- [ ] Include in project build via. Webpack

[2019-11-07 15:43] Silind opened #2 "Include support for Styled Components"
Include support for Styled Components in Direflow Component.

[2019-11-07 15:45] Silind opened #3 "Automated package version handler"
Create a script that handles automatic increase of patch-version for NPM when merging into master.

[2019-11-07 17:29] #3 closed

[2019-11-07 20:31] Silind opened #4 "Support for child elements"
Be able to pass in a child to the Web Component and inject it at a place of choice.

[code]

We would use a special component in React, and the child should be injected into here.

[code]

[2019-11-07 21:35] #2 closed

[2019-11-07 21:41] Silind opened #5 "Support for sass"
Create support for sass - working similar to how css works.

[2019-11-09 08:22] #5 closed

[2019-11-12 22:27] mperazac opened #6 "Script-Loader plugins seems to be not working"
Hi! This project is great! Thanks for coding it!

It looks like the script-loader is not working.
I added the jquery example from the documentation, but I do not see to be loading anything.

This is my plugins configuration in the direflow-config.js:

[code]

Can you please give it a try?

[2019-11-12 22:32] mperazac opened #7 ""withStyles" is not exposed"
Hi,

I tried to use `withStyles` in one component, but seems that it is not exposed in the `direflow-component`

You would also want to update the documentation in https://direflow.io/events-and-styles#styles in order to reflect `direflow-component` instead of `create-react-web-component`

[2019-11-13 06:15] Silind commented on #7
Hi @mperazac

Thank you for creating this issue.

I will look into asap.
-And thanks for pointing out the error on the webpage. That should obviously be changed :slightly_smiling_face:

[2019-11-13 06:16] Silind commented on #6
Hi @mperazac

Thank you for creating this issue.

It seems like you're using the script-loader plugin exactly as intended.
I will look into this asap.

[2019-11-13 07:06] Silind commented on #7
This has been fixed :slightly_smiling_face:
If you use the version 1.0.17, `withStyles` will be exposed correctly.

Thank you again for bringing this to my attention :+1:

[2019-11-14 04:57] mperazac commented on #7
This is great! Thank you!

[2019-11-14 06:02] #7 closed

[2019-11-15 10:34] pedrodgfaria opened #8 "Exposing Methods"
Hi, is it possible to expose methods?

to be called like:
`component.someMethod()
`

[2019-11-15 12:48] Silind commented on #8
Hi @pedrodgfaria
Thank you for showing interest in Direflow.

Yes, that is possible.
If you go to `componentProperties.js` (or `.ts` if you're using TypeScript), you can add a public method as a property:
[code]
Now you can call it just like you suggest:
[code]
---
Just beware that properties are also reflected as `props`, so when you expose a method like this, you will also get access to this met

[2019-11-15 13:05] pedrodgfaria commented on #8
ty, for your fast reply.

i'm trying to expose a Component method, with context:

[code]

something like this, resulting in

`component.setExampleVariable(new Set(['example']))`

currently i'm using a prop 'example' passing it to state on constructor and triggering event on componentDidUpdate(if updated).

But I think it would be nice if it was possible to expose with context.

What you think?

[2019-11-15 13:15] Silind commented on #8
The way you are doing it with `componentDidUpdate` (or `useEffect`) is the correct approach :slightly_smiling_face:

There are only two ways of "communicating" with the component from the outside:
Via *properties* and *attributes* and by *event-dispatching*.
This is a deliberate design choice based on the Flux principle which ensures predictability.
Introducing an exposing feature like this would

[2019-11-15 14:23] pedrodgfaria commented on #8
Ok, makes sense, thanks for your attention and sharing this good project.

[2019-11-15 14:23] #8 closed

[2019-11-16 10:01] Silind commented on #6
This issue has been resolved.
The `script-loader` plugin has now changed to `external-loader` and is simplified quite a bit.
In order to achieve the above, you simply do:

[code]

I included this example as a reference, and can also be seen in the docs:
https://direflow.io/plugins#external-loader

[2019-11-19 22:34] mperazac commented on #6
Thank you for looking at it.

[2019-11-19 22:34] #6 closed

[2019-11-20 14:34] vksantoshsunny opened #9 "error trying to install dependencies for initial set up"
![Capture](https://user-images.githubusercontent.com/26269568/69247730-c35e4780-0c0f-11ea-8db0-0cd8210e7645.JPG)

[2019-11-20 15:28] Silind commented on #9
Hi @vksantoshsunny
Thank you for raising this issue.

I was able to reproduce the problem.
It seems like this is specific to npm - if you use yarn to install instead, this error does not seem to arise.

I will look into this as soon as possible.
Thank you for bringing this to my attention.

[2019-11-20 21:57] vksantoshsunny opened #10 "Error : Cannot read property 'forEach' of undefined CustomComponent.js"
![image](https://user-images.githubusercontent.com/26269568/69281676-93359980-0c4d-11ea-9779-59f89f632d21.png)

Set up the app and when I run it I see this error in console.

[2019-11-21 05:43] Silind commented on #10
Hi @vksantoshsunny
Thank you for creating this issue.

I'm not able to reproduce the problem.
Did you change the `direflow-config.js` file after setting up the component?
If so, can you post how it looks now?

[2019-11-21 07:04] Silind commented on #10
I have created a new patch version including some additional null-checking when extracting plugins.
Hopefully, that should solve the issue you are experiencing above.

Kindly try to upgrade your version of `direflow-component` to `1.0.19`, or install the latest version of `direflow-cli` and create your component again.
If this problem persists, please let me know in this issue.

[2019-11-25 13:30] supproduction opened #11 "Does not possible to create multiple bundle"
I have created second component. Added entry points to the webpack as `entry: ['./src/index.tsx', './src/App2/index.tsx'],` tried to bundle it and had next error
`DireflowComponent.js:63 Uncaught DOMException: Failed to execute 'define' on 'CustomElementRegistry': this constructor has already been used with this registry`

[2019-11-25 13:31] supproduction commented on #11
Does is it possible to add multiple entries or compile multiple components via one command?

[2019-11-25 16:51] Silind commented on #11
Hi @supproduction
Thank you for creating this issue.

Yes, it is indeed possible - there is a specific setup you need to use, in order to bundle multiple components together.
It's done by creating a _Direflow Project_ using the command `direflow create -p`.
This will bootstrap a project for you, and you can now add components to this project by using the command `direflow create` inside the projec

[2019-11-25 17:01] supproduction commented on #11
But in this case `Direflow` is creating new project for me. For instance I have about 70 modules with independent components, it's locate in the different folders and I need group all this files in the one build. Is it possible to compile all this components from different modules in one bundle like entries array in webpack?

[2019-11-25 17:18] Silind commented on #11
Yes, that is exactly what the Direflow Project is meant to handle.
I suggest that you create a new Direflow Project using `direflow create -p`, and then create an empty folder called `direflow-components` in the root of your new Direflow Project.
Then copy your Direflow Components into this folder, and now run `yarn build`.
This will automatically detect all Direflow Components in the `direflow-co

[2019-11-26 09:36] supproduction commented on #11
I have tried do this way and I have got an error. https://prnt.sc/q265q4 . Main index.tsx is empty, all components have own registration. Could you help me what am I doing wrong?

Our framework has over 200 modules with each own controller and own presentation.
For now we want to move all our modules some compiler/framework which will give us opportunity to transform our components to the web comp

[2019-11-26 14:41] pedrodgfaria opened #12 "Multiple WebComponents on Same page"
Hi,

When consuming the bundle, having multiple components on same page, a setState invocked in one, provoque the same result on the others, i'm missing something?

[code]

so if i have a state change on a "onClick" action, it will be interpreted by the 2 components.

[2019-11-26 15:05] Silind commented on #12
Hi @pedrodgfaria

Thank you for creating this issue :+1:

That is definitely unintended behavior.
I will look into this as soon as possible.

[2019-11-26 15:22] Silind commented on #11
Ahh ok, I understand your situation better now.

Well, the entry is fully supported.
The Direflow Components are using a modified version of the webpack.config that ships with [react-scripts](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/webpack.config.js) (from create-react-app).
In the _direflow-webpack.js_ file, you are able to tweak this in anyway you w

[2019-11-27 09:08] supproduction commented on #11
Thanks, I'll try,  you can close this issue in that case 🙂

[2019-11-27 09:09] supproduction commented on #11
Thanks, I am going to close this issue in that case 🙂

[2019-11-27 09:09] #11 closed

[2019-11-27 09:12] pedrodgfaria commented on #12
The problem was in my implementation not in the project, sorry for the time lost

[2019-11-27 09:21] pedrodgfaria commented on #12
the call of setState in one doesn't trigger immediatly on the other one, but when the other re-renders he get the same state from the first one

[2019-11-27 10:00] pedrodgfaria commented on #12
problem was i was using the same reference to all the components:

`
export const componentProperties = {
 someProp: new Set()
}
`

this causes same reference on all usages so the "same state" (not really) on rending the prop.

Sorry for time lost

[2019-11-27 10:02] Silind commented on #12
Ahh, I see.
No worries, thanks for discovering and closing the issue :+1:

[2019-12-01 13:37] #10 closed

[2019-12-01 15:02] Silind commented on #9
This issue is fixed as of direflow-cli `1.0.21` :+1:

[2019-12-01 15:27] #9 closed

[2019-12-02 16:12] pedrodgfaria commented on #12
Is a tricky one, but is realy sharing props,

[example](https://drive.google.com/file/d/1RzPivz_zeQVf_7SU7XMpF5XUap_2vSky/view)

componentProperties.js

[code]

app.js

[code]

using:
[code]

As u can see the first component is getting the title from the second component after setting another prop.

[2019-12-02 20:45] Silind commented on #12
Yeah, I see something odd going on there.
Thank you for thorough reproduction steps.
I will look into this issue asap.

[2019-12-03 10:17] pedrodgfaria commented on #12
Hi, these changes in CustomComponent.tsx make me think they do the trick. Maybe this will help you.

[code]

[code]

[code]

[2019-12-03 10:26] Silind commented on #12
Awesome, thanks! :smile:
You are also more than welcome to do a PR on this, if you can verify that it solves the problem.
Then I'll review as soon as I get time :+1:

[2019-12-03 10:48] pedrodgfaria commented on #12
This solves the reference of shared props, but this one also needs a workaround:

`    Object.defineProperties(CustomComponent.prototype, propertyMap);
`

some prop's ( e.g. boolean props) are not triggering all time, need to set 2 times to get the expected behaviour, can this be done without setting in prototype?

[2019-12-03 11:00] pedrodgfaria commented on #12
[code]

Removing the snippet from DireflowComponent.tsx and moving to CustomComponent.tsx to make them access the private field resolved my issue, but i think it's better you have a look when you get time

[2019-12-03 11:03] Silind commented on #12
I will - thank you for all the snippets :slightly_smiling_face:

[2019-12-03 14:20] Alifarmand commented on #1
I am waiting for this ticket. This will do a big difference in bundle size.

[2019-12-03 20:11] pedrodgfaria commented on #12
I created a pull request to help you.

[2019-12-04 06:46] Silind commented on #12
Awesome, @pedrodgfaria! Thank you :pray:
I'll review the changes as soon as possible :smile:

[2019-12-06 01:59] mperazac opened #14 "react-fontawesome visual issues"
Hi!

I am trying to use [React FontAwesome](https://github.com/FortAwesome/react-fontawesome) library in my project.
As this library uses SVG to display the icons, each icon displays really big.
This does not happen in a create-react-app application.
I see your comment regarding SVGs in https://direflow.io/additional, but I do not know how it applies to this library.

Can you please assist?
Thanks

[2019-12-06 02:01] mperazac opened #15 "React-Select library issues"
Hi again,

I am also using react-select in my project.
I seems that it build its styles with styled-components internally.
When I load my app with a react-select element, it just looks like a mess. Seems that the styles are not being picked up.
Any idea what could be happening here?

Thanks!!

[2019-12-06 03:28] mperazac commented on #15
I get what the issue is. React-select insert its css styles into the <header> tag of the html page.
As our web component is isolated from these styles, then it can't pick them up... Hmm so, how can this be sort out?

[2019-12-06 03:29] mperazac commented on #14
I think is the same issue as in https://github.com/Silind-Software/direflow/issues/15. So I am closing this one to track just one question/issue.

[2019-12-06 03:29] #14 closed

[2019-12-06 09:50] Silind commented on #15
Hi @mperazac
Thank you for creating this issue.

You are right, styled-components will inject the styles into the `head` of the html document, making it unavailable for the scoped content in the shadow root.
You can use the styled-components plugin with Direflow, because the plugin will reroute the styles to be injected inside the shadowed scope instead of the `head`.
However, using styled-compone

[2019-12-07 14:43] Silind opened #17 "Release of Direflow v. 2.0.0"
## Release of Direflow v. 2.0.0

The new release will include the following updates:
### Breaking changes:
- [x] Deprecation of 'Direflow Project' and the command `direflow create -p`.
- [x] Ability to create multiple components from the same setup. See this [PR](https://github.com/Silind-Software/direflow/pull/16).
- [x] Performance optimizations. Better usage of shared dependencies.

### Enhance

[2019-12-09 14:06] oterral opened #18 "Makes loading of WebComponent Polyfills configurable"
Currently webcomponent-bundle.js loads 3 different polyfills:

sd : shadyDOM   useless when you use your web-component with `{shadow: false}`
ce : CustomElement
pf : Platform polyfills  some others basic polyfill probably already loaded by the app which use your web-component.

Those polyfills could be separetely loaded depending of your app:
https://www.jsdelivr.com/package/npm/@webcomponents/web

[2019-12-09 17:49] mperazac commented on #15
Thanks for the response, @Silind.

Just in case someone else have this problem. There is a workaround for this particular case of react-select here: https://github.com/JedWatson/react-select/issues/3680#issuecomment-532719847.

However, it would be nice that Direflow provides a way to manage these cases.

Thanks again!

[2019-12-09 23:07] somsharp opened #19 "Build failed with TypeScript direflow project"
Here are steps to repro the same:

Step 1: direflow create -p (choose TypeScript as project)
Step 2: direflow create (after change current directory and created cool component TypeScript type)
Step 3: yarn install
Step 4: yarn build (build failed with below error)

Error Message:
yarn run v1.19.1
$ direflow-project build

Please be patient
Building all Direflow Components...

Build started: cool-c

[2019-12-10 16:01] Silind commented on #18
Hi @oterral
Thank you for creating this issue, these are very useful insight.
I definitely like the idea of making the polyfills configurable, and I'm thinking that this should be somehow done through the `direflow-config.js` file, perhaps using an optional plugin for polyfills.

Great suggestion, thanks! :+1:

[2019-12-10 16:05] Silind commented on #19
Hi @somsharp
Thank you for creating this issue.
I've been able to reproduce the problem from your steps and found that this occurs when you try to build a project with no Direflow Components in it.
If you create at least 1 Direflow Component, the build succeeds.

This is, of course, something that should be fixed - thank you for bringing this to my attention :+1:

[2019-12-10 16:25] #12 closed

[2019-12-10 19:26] somsharp commented on #19
Please have a look at the below folder structure. The Direflow component named 'cool-component' is already present. One thing I have noticed that from the component directory I am able to run and build the component but when I am trying to build it from project level it is failing. There is something definitely going wrong in the project level build. Can you give a sample project with a basic comp

[2019-12-10 19:37] pedrodgfaria commented on #19
Hi, are you using windows system?

[2019-12-10 19:39] somsharp commented on #19
Yes. 64-bit Windows 10 Enterprise Operating System

[2019-12-10 20:01] pedrodgfaria commented on #19
you can run the webpack command to get the build as a workaround

[source reference](https://github.com/Silind-Software/direflow/blob/38eba7c84653b6309e89b3f4954e3dcb39d6b6a8/packages/direflow-project/tasks/tasks.sh)

`node ./node_modules/webpack/bin/webpack.js --config ./node_modules/direflow-project/config/config.production.js`

The problem is that child_process can't run webpack

[code]

[2019-12-10 20:09] somsharp commented on #19
Thanks. webpack command worked for me. I am waiting for the feature "Ability to create multiple components from the same setup." which will help me a lot as we have more than 50 existing component to expose via web-component. Let me know when we can use it?

[2019-12-10 21:17] Silind commented on #19
Ahh, I see. Can I ask, which version of `direflow-project` are you using in your project setup?
From `direflow-project` 1.0.20 and above the child_process was replaced with shell scripts.
Could you try to upgrade to the latest version?

Thanks a lot for the help, @pedrodgfaria :blush:
Nice that you spotted the issue already.

@somsharp, I expect that we'll have release 2.0.0 ready during this week

[2019-12-10 21:28] somsharp commented on #19
@Silind you are right. I am using "direflow-project": "1.0.19" here. Glad to know that 2.0 is coming soon. Thanks for making it possible to allow multiple web-component in a single Direflow Component. Awesome contribution.

[2019-12-10 21:58] somsharp opened #20 "Shadow option is not available with direflow-component ^1.0.26"
Earlier version I was able to pass shadow option like below:
//direflowComponent.render(CcmInvoiceTile, 'sw-ccm-invoice-summary-tile', **{ shadow: false,  }**);

with the new latest version "direflow-component": "^1.0.26" Now it supports only two parameter. Is there a way to pass the shadow option as false?  Some of our existing component does not need shadow feature at all.

[2019-12-10 22:08] pedrodgfaria commented on #20
[from last merged pr](https://github.com/Silind-Software/direflow/pull/16/commits/9e86ae21c8e32829d57a976793971c506283b227
)

now you have:
[code]
you can try use:

`const direflowComponent = new DireflowComponent({shadow: false});
`

[2019-12-10 22:11] somsharp commented on #20
Thanks a lot for quick response. It is working as expected.

[2019-12-11 07:06] Silind commented on #20
Spot on, @pedrodgfaria. Thanks a bunch :blush:

I've updated the webpage so the documentation reflects these new changes.
https://direflow.io/additional#shadow-dom

[2019-12-11 07:08] #20 closed

[2019-12-11 07:08] #19 closed

[2019-12-11 07:15] Silind commented on #1
In [version 2.0.0](https://github.com/Silind-Software/direflow/issues/17), the "Direflow Project" feature will become deprecated.
Instead, support for creating multiple Web Components from the same build setup is going to be supported.

This issue is no longer relevant.

[2019-12-11 07:15] #1 closed

[2019-12-11 10:05] luyanchen opened #21 "Building packages in UMD"
We want to loaded direflow at runtime, so it would be great if there was a way to package it with UMD like direflow.min.js.

[2019-12-11 15:34] Silind commented on #21
Hi @luyanchen, and thanks for creating this issue.
It's not something that is in the pipeline at the moment, but it's a good suggestion - I'll keep this issue open and look back into this for a future release.

[2019-12-12 10:16] Silind opened #22 "Docs pages: Get started developing on Direflow"
Doc pages on how to get started developing on Direflow, in order to make it easier for other developers to contribute with PRs.

[2019-12-12 19:21] #17 closed

[2019-12-14 12:59] #22 closed

[2019-12-21 15:15] alkismavridis opened #23 "Synchronizing properties and attributes"
Hello dear direflow team.
I would like some input parameters to be controlled both via attributes and via properties, like the native html **title** property/attribute works, for example. Attribute and property are **always at sync**.
Of course, the react element should rerender when the property is changed or when setAttribute is called.

If this is to complicated, I would to have at least the on

[2019-12-21 18:07] Silind commented on #23
Hi @alkismavridis
Thanks for showing interest in Direflow :slightly_smiling_face:

Your assumptions are correct.
Right now there is a strict separation between _properties_ and _attributes_.
You register your _properties_ and _attributes_ in the `properties` and `attributes` objects in `src/properties.js`, respectively.
These are the only _properties_ and _attributes_ that the React Element will r

[2019-12-21 20:29] alkismavridis commented on #23
Hello @Silind
Thanks for the quick answer!

Yes, you are absolutelly right that the property -> attribute sync can be problematic for non primitive types.

I also believe that the rule of syncing properties to attributes only if they are primitives makes a lot of practical sense.
At the same time, I think that such distinction is to implicit and could make the behavior of the web component confusi

[2019-12-21 21:02] Silind commented on #23
I think the long message is awesome, cause you have many very nice suggestions, and good points :muscle:

I think you are right, that a good first step would be to let attributes reflect on properties.
Later on, we'll try to look into a way of providing some automatic (and intuitive behavior) for all this, with the ability to customize.

Again, great suggestions!
I'll include this issue as a task

[2019-12-22 16:22] Silind commented on #23
New release of Direflow (2.1.x) now addresses parts of this issue.

The folder structure has changed so that the `properties.js` file is now left out.
[See more here](https://direflow.io/get-started#the-setup)

Properties are now set directly in the `index.js` file where the Direflow Component gets mounted, and will be representing both properties and attributes so that they can be used both place

[2019-12-22 20:15] alkismavridis commented on #23
Thanks you very much, @Silind !
I really believe that combining react and web-components is a really important good cause.
I think I could contribute, if you want me to, of course, in the project.

I would love to make a first attempt to implement the automatic-props detection, or something that goes in that direction.
I might have some time in the next days for that.

Would you like me to try som

[2019-12-22 21:24] Silind commented on #23
You are very welcome to contribute by giving the implementing of a automatic-props detection feature a shot - that would be awesome!
I think there could be some challenges on the way, and a trade-off will probably have to be, that you will still have to manually update the `IProps` interface in App.tsx and the `PropTypes` in App.js.
But that part is optional anyway, so that's a totally fair tradeo

[2019-12-27 08:56] subharb opened #24 "Reusing components to create a web component"
**Is your feature request related to a problem? Please describe.**
What I need is to export a component within my project as a webcomponent. Therefore what I did was to create a subfolder within my project where direflow sits.
When I try to import my component into the App.js of my newly created folder of direflow, I get an error  "Module not found: You attempted to import ../../../src/containers/

[2019-12-27 18:22] lucasinocente opened #25 "Question: how pass value with events?"
Hi! First of all, thanks for sharing this project. Its awesome!

Please, how can I pass value with events? For exemple I wanna pass user:

In web-component:
[code]

In the page who are loading the web-component:
[code]

[2019-12-27 18:49] lucasinocente commented on #25
Updating:

I use like this:
[code]

and receive with:

[code]

And works. But, is this the best way to do this?

[2019-12-28 15:13] Silind commented on #25
Hi, @lucasinocente
Thanks for showing interest in Direflow :slightly_smiling_face:

The way you are doing it is legit - however, if you were to use TypeScript, the compiler would complain.
I think the most "best practice" way to do it, is to use `CustomEvent`, which carries a `detail` property. This can be used to carry your payload.

Here is an example:

[code]

[code]

You can read more about it

[2019-12-28 15:16] Silind commented on #24
Hi @subharb
Thank you for creating this issue.

This constraint has its origin in _create-react-app_, which is the "engine" underneath the Direflow Component.

It is definitely a problem - I will look into a fix for this issue as soon as possible.

[2019-12-28 15:55] alkismavridis opened #26 "Providing html content using named slots does not work."
**Describe the bug**
Providing html content using named slots does not work.

**To Reproduce**
1. Create a simple web component with direflow (using shadow dom).
Include some named slots.
Example:
[code]

2. Use your web component in a html page (I used a plain vanilla html page):
[code]

**Expected behavior**
The given divs appear inside the web component.

**Actual behavior**
The diven divs appe

[2019-12-28 18:14] Silind commented on #26
Hi @alkismavridis
Thank you for creating a well-reported issue :+1:

This is indeed a bug.
The slotted functionality is based on portals and requires the slotted element to be a sibling to the shadow-root.
If you inspect the DOM in devtools and drag the slotted element inside the span tag, text to the shadow-root, you will see it working.

Nice spotted! I will make sure this error is fixed as soon

[2019-12-28 22:08] Silind commented on #26
This issue is fixed in **v. 2.2.0**.

[2019-12-28 22:09] Silind commented on #4
Will not be worked on.
For now, similar default behavior is accepted as explained here:
https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_templates_and_slots

[2019-12-28 22:09] #4 closed

[2019-12-29 08:38] #26 closed

[2019-12-29 08:38] #23 closed

[2019-12-29 14:10] filflora opened #27 "Attribute change from parent is not working"
**Describe the bug**
In a parent-child relationship where the child is a React based web component, the parent can not change the props of the web component.

**To Reproduce**
Steps to reproduce the behavior:
Create a webcomponent with Direflow and embed it somewhere. Try to change an attribute like in the documentation:
`const component = document.querySelector('awesome-component');`
`component.s

[2019-12-29 15:55] #27 closed

[2019-12-29 16:00] Silind commented on #27
Hi @filflora
Thanks for creating a very well reported issue - it was really nice that you made a repro in a separate repository - made it very easy to spot the problem.

It was indeed a bug.
The issue has been fixed in **v. 2.2.2**.
I checked it on your direflow-poc repo, and everything seems to work as expected now :+1:

If you bump your version of `direflow-component` to `2.2.2` in your package.

[2019-12-30 10:59] #25 closed

[2019-12-30 11:44] #24 closed

[2019-12-30 11:46] Silind commented on #24
This issue has been fixed in **v. 2.2.3** :+1:

[2019-12-30 15:32] filflora commented on #27
Thanks @Silind ! This was fast... and it's working now. :)

[2019-12-30 17:01] lucasinocente commented on #25
Thanks @Silind, you help me a lot!

[2019-12-30 17:45] sumitparakh commented on #21
Hi @Silind,
Would you mind if I work on this issue?

[2019-12-30 19:26] Silind commented on #21
Hi @sumitparakh
That would be awesome :smile:
I haven't started yet, so please be my guest.

Please refer to the [contribution guide](https://github.com/Silind-Software/direflow/blob/master/CONTRIBUTING.md#developing-on-direflow), here's some information than will come in handy in order to get started developing.

[2019-12-31 13:57] filflora opened #28 "Question: has the "one web component per React application" limitation any technological boundaries?"
As far as I understood there is a ReactDom.render call inside the WebComponentFactory which may cause this effect. Am I at the right place? Have you already considered a solution for this? (Sorry for asking so many questions :) )

**Is your feature request related to a problem? Please describe.**
In case a web component is used in multiple application, there could be a scenario where a single appl

[2019-12-31 14:04] filflora commented on #28
Updated poc repository to a different branch:
https://github.com/filflora/direflow-poc/tree/multiple-components-per-app

(Also... I couldn't set the label for "Question" so it stayed "Enhancement". Sorry for that)

[2019-12-31 16:17] Silind commented on #28
Hi @filflora
Please keep the questions coming - don't be sorry about that at all :smile: :+1:

Thank you for bringing this to my attention - this is clearly a bug.
I also see that it has been introduced recently since this was working exactly as you would expect before.

The same React instance can handle mounting different React Components on to different Direflow Components, and that is, of cour

[2019-12-31 16:22] filflora commented on #28
Thanks @Silind, it's much appreciated! I thougth it was intentional and I'm just pushing too much. :)

Anyway... have a happy new year! :) 🍾 🎆

[2019-12-31 17:19] Silind commented on #28
Definitely not, and please keep them rolling, whenever you find something that seems odd or doesn't work! :smile:

Cheers, and happy new year! :fireworks: :champagne:

[2020-01-01 09:24] #28 closed

[2020-01-01 09:31] Silind commented on #28
This issue has been fixed in **v. 2.2.4** :slightly_smiling_face:
![](https://silind-s3.s3.eu-west-2.amazonaws.com/random/Screenshot+from+2020-01-01+10-29-52.png)

[2020-01-02 15:19] Silind commented on #21
Hi @sumitparakh
What is the status on this one?
Can I move this into the "doing" column? :wink:

[2020-01-02 15:23] sumitparakh commented on #21
Hi @Silind , I've setup development environment of direflow in my setup and i'll continue this task in the weekend. So yes, you can move this into the doing column. :)

[2020-01-02 15:28] Silind commented on #21
Great, that sounds awesome! :smile:

[2020-01-02 15:38] filflora opened #29 "Component property update even if the attribute is defined"
**Is your feature request related to a problem? Please describe.**
Is there a special reason for disabling component property update if the same property is defined as an HTML attribute?
One can set a direflow component property when the webcomponent is defined, but there is a common use-case for defining component properties on page load (in the HTML) and changing them later (via Javascript).

**

[2020-01-02 15:45] zook-cs opened #30 "Optimize the bundle size"
After building the basic component the bundle size is around 280kb, I assume it is because the bundle includes react and react-dom modules.

I suggest to make the entry bundle as thin as possible and import react and react-dom only when needed by using dynamic imports. In order to use the component I will need to include only the
entry bundle, which is very thin, and it will load react and react-d

[2020-01-02 16:40] Silind commented on #29
Hi @filflora
Originally, you would set two different objects; one containing _properties_ and one containing _attributes_, and these would never intersect.
However, we learned that it appeared confusing and often unpractical to handle these two mechanisms separately, and very recently, the object with the initial values was joined, such that properties would be reflected onto attributes when possi

[2020-01-02 17:21] Silind commented on #30
Hi @zook-cs
Thank you for showing interest in Direflow and creating this issue :slightly_smiling_face:

You are very correct - the minimum bundle size of around 280kb is mainly caused by including react, react-dom modules thus the web-component bundles / polyfills. The latter is something that we are looking into.

The idea with Direflow is, in fact, to use React to create Web Components, and the

[2020-01-03 14:45] zook-cs commented on #30
I have a few ideas - the easiest one is letting the option to not include react and react-dom in the web component bundle and let the containing app to load them and pass them to the web component. This way you give the power to the user and he can decide what is the best way for him to bundle and use the component.

For example, I want to use the react web component (react-wc) in an angular app:

[2020-01-03 15:56] Silind commented on #30
I definitely think your idea is very interesting.
The configuration should be set in the `direflow-config.js` file, and can be added optionally, and the React and ReactDOM modules are then simply expected to be passed as properties.

The approach is a bit more "manual", but opens for customizability for cases where performance and initial bundle size is critical.
Very nice suggestion.

I'll keep t

[2020-01-04 16:40] filflora commented on #29
Thanks @Silind! I think I wasn't fully aware of that. Could you tell me more about the two component interaction? Maybe I'm missing something.

The properties and attributes are somewhat the same in my mind. I thought attributes are behaving like initial property overrides which can be changed by script. In essence there are these use cases I could think of:

Property has no default value and is `

[2020-01-04 18:06] Silind commented on #29
The use case I'm referring to regarding two components interaction is best explained with [this example on codepen](https://codepen.io/Silind/pen/OJJbJXE).
Here I have two Direflow Components bundled together in the same bundle.js file.
A list of crypto coins to buy and a basket. These are interacting with each other in the way that, when an item is clicked on the list in one component, the other

[2020-01-04 20:46] Silind commented on #15
I'll take [the above](https://github.com/Silind-Software/direflow/issues/15#issuecomment-563352971) as the accepted answer for this issue specifically.
I'm gonna close it for now and address the situation with styled-component as a part of third party more generally later.

[2020-01-04 20:46] #15 closed

[2020-01-05 08:51] zook-cs commented on #30
thanks! I really appreciate it :)

[2020-01-06 18:48] Silind commented on #29
Included in [this PR](https://github.com/Silind-Software/direflow/pull/31).

[2020-01-06 18:48] #29 closed

[2020-01-06 20:48] Silind opened #32 "Multiple instances of styled-components causes crash"
**Describe the bug**
Using Direflow Components with _styled-components_ in a host application with _styled-components_ causes unexpected clash due to multiple instances of _styled-components_.
Styled Components has elaborated on this issue [here](https://github.com/styled-components/styled-components/blob/master/packages/styled-components/src/utils/errors.md#10) and [here](https://github.com/style

[2020-01-09 10:02] dpoerschke opened #33 "Styled attribute styles with multiple entries"
At first 'mange tak!' for this cool project @Silind :-) I'm not sure if this is a bug - just in case that it is not can you please consider it as feature request? Otherwise: what could be a solution to this problem?

**Describe the bug**
When using multiple entries for styles-attribute of Styled-Element only the last one is used, the first will be ignored:
`<Styled styles={styles, semanticui}>`

*

[2020-01-09 18:41] Silind commented on #33
Hi @dpoerschke! 'Tak' for showing interest in Direflow and creating this issue :slightly_smiling_face:

This is not a bug. The `<Styled>` wrapper component takes one set of styles in the `styles` prop.
Using a comma separator inside a code block of JSX is not a valid syntax.
What you would want to do is pass an array to the `styles` prop, something like:
[code]
**However**, that is not currently s

[2020-01-10 11:25] dpoerschke commented on #33
Thank you very much for your explanations @Silind and for changing this to a feature-request 🙂 Your solution

worked (the result is the same as with the external-loader approach). The only thing left which gives me a headache now is the problem regarding semanticui's missing icons. Since you wrote..

..I added semantic.min.css and icon.min.css now directly to my project instead of using a npm-pack

[2020-01-10 13:00] Silind commented on #33
Ok, I see.
I can't figure out exactly what is going on here, but I haven't actually tested the setup with Semantic UI, so it is very possible that there is an actual problem here.
I will have a look at this as soon as possible.

Is your project public? If yes, would you mind pasting a link to the project here, so I can have a closer look? - Otherwise, I will try to use your reproduction steps abov

[2020-01-10 13:49] dpoerschke commented on #33
Sure, thank you very much for having a look into it :-)
Unfortunately my project is not public, but I've uploaded some demo-code to show the icon-problem here:
https://github.com/dpoerschke/iconProblemDemo
I hope it's helpful.

[2020-01-12 17:18] Silind commented on #18
Hi, @oterral
This feature is included in Direflow v. 3.0.0

Pr. default, all polyfills are now lazyloaded and not included in the Direflow bundle.
However, you can now also use a plugin for full customizability.

Example:
[code]
This will include the ce-bundle, but exclude the sd-bundle.

You can also specify your own source, if needed:
[code]

Thanks a lot for your help with this one! :smile:
You

[2020-01-12 17:18] #18 closed

[2020-01-12 20:58] Silind commented on #33
Thanks a lot for creating a problem demo :+1:

I've been investigating this problem, and it turns out, that it is a well know problem with webfonts (which are used for the icons) and the shadow DOM implementation.

Currently, the best fix for this problem is to disable the shadow root for your component.
That will make the icons render correctly.
There is a new way of doing this in the recent vers

[2020-01-13 07:45] #33 closed

[2020-01-13 07:50] Silind opened #34 "Icons in webfonts doesn't show under shadow root"
**Describe the bug**
When using the icon pack from material icons or font awesome, icons doesn't appear when shadow root is enabled.

**To reproduce**
Steps to reproduce the behavior:
1. Create a new Direflow Component with direflow-cli
2. Use the icon-loader plugin and include 'material-icons' ([description](https://direflow.io/plugins#icon-loader)).
3. Add an icon from material icons

**Expected

[2020-01-13 09:05] oterral commented on #18
Thx @Silind  !!

[2020-01-14 03:25] hahabazinga opened #35 "direflow rerenders component each time when updating one prop"
in my project, i pass several properties like this:
[code]
but inside `Echarts` component, `props` updates one by one

![image](https://user-images.githubusercontent.com/9163478/72311411-8d918880-36bf-11ea-84d7-bcb4125e9661.png)

and i check the source codes and find the following codes:
[code]
and i think direflow rerenderring the comonents after all props value updated may be better 'cause there

[2020-01-14 07:46] Silind commented on #35
Hi, @hahabazinga.
Thank you for creating this issue!

Nice catch - this may actually be an issue with Direflow, indeed.
I will look into this as soon as possible 👍

[2020-01-14 18:24] Silind commented on #35
Hi again, @hahabazinga
I'm not able to reproduce the issue you mention.

The code snippet from the source code above detects when a property or an attribute changes on the Web Component, and projects these changes onto the React app underneath.

When you set attributes on a Web Component, you do this in the HTML file, thus setting multiple attributes on the Web Component doesn't make it re-render.

[2020-01-15 02:29] hahabazinga commented on #35
@Silind ，sorry, my fault for my misleading thought. i found the reason was that i created two `<Echart />` , but they referred to the same webcomponent instance, so something unexpected happended.
Besides, the` <Echarts />` is a react component which returns `<echarts-webc ref={webCRef}></echarts-webc>` , and `<echarts-webc>` is a web component rendered by direflow.
I will look into this for a fur

[2020-01-15 06:53] hahabazinga commented on #35
@Silind, sry for my misleading thought. It truns out that it is because i pass props one by one to the webcomponent. I will just close this issue. Thanks for you contribution!

[2020-01-15 06:53] #35 closed

[2020-01-15 07:23] Silind commented on #35
@hahabazinga Alright, cool.
I'm glad that there is clarity about the issue now 🙂

[2020-01-16 18:17] JohnDeved opened #37 ".sass file support"
**Is your feature request related to a problem? Please describe.**
Direflow already supports Sass, but only supports the .scss file syntax.
it would be great if .sass files would work as well

**Describe the solution you'd like**
expand direflow webpack into supporting .sass alongside .scss files

**Additional context**
https://sass-lang.com/documentation/syntax#the-indented-syntax

[2020-01-16 21:23] Silind commented on #37
Thanks for creating the ussie, @JohnDeved.
It's a good suggestion - I've added this to the todo-list :+1:

[2020-01-17 10:45] JohnDeved commented on #37
this is what happens if your try to use a .sass file right now
![image](https://user-images.githubusercontent.com/24187269/72606316-af3c7b00-391e-11ea-88e7-94568cbe9aeb.png)
![image](https://user-images.githubusercontent.com/24187269/72606365-c3807800-391e-11ea-89ca-806975c4dc71.png)

[2020-01-17 11:51] Silind commented on #37
Yes, Direflow is currently built on _react-scripts_ from _create-react-app_, and the webpack config doesn't include a loader for `.sass` files.
The loader needs to be manually added to the webpack config.
This can also be done on the individual project in the `direflow-webpack.js` file.

But I do agree that this would be a nice support to have, so I think it should be added in the webpack config t

[2020-01-17 13:16] JohnDeved commented on #37
thanks,
I've already made a fix for it, I will make a PR when I get home.

[2020-01-17 13:30] JohnDeved commented on #37
No sass-loader already exists in the webpack which works

[2020-01-17 20:27] #37 closed

[2020-01-17 20:32] Silind commented on #37
Oh yeah, I see that you're right.

Thanks a lot for the fix!
I'm gonna assign you to this issue, even that you already fixed it.
It's easier to see later who fixed what :blush:

[2020-01-18 11:09] JohnDeved opened #40 "Implement ESLint in JS template & Make user choose between ESLint and TSLint for TS template"
**Is your feature request related to a problem? Please describe.**
Implement ESLint in JS template & Make user choose between ESLint and TSLint for TS template

**Describe the solution you'd like**
When creating a direflow project, it would be nice to have ESLint setup for the JS template,
just like how TSLint is set up for the TS template already.
And for the TS template, it would be nice if you

[2020-01-18 12:42] JohnDeved commented on #40
Im willing to take care of this if you want

[2020-01-18 13:23] Silind commented on #40
@JohnDeved You are very welcome to handle this task :blush:
I'm gonna assign you to it. Let me know if any questions or uncertainties arise.

[2020-01-18 16:33] Silind opened #41 "Styled wrapper component causing snapshot tests to crash"
**Describe the bug**
When running snapshot tests of a React component that includes the `<Styled>` HOC from `direflow-component`, tests crash.
Remove the `<Styled>` from the component, and snapshots are written just fine.

**To reproduce**
Steps to reproduce the behavior:
1. Create a new Direflow Setup using `direflow-cli`
2. Install all dependencies and run `yarn test`
4. See error

**Expected be

[2020-01-21 09:48] ussuritiger opened #42 "Develop multiple web components in the same time"
**Is your feature request related to a problem? Please describe.**
I would like to be able to develop multiple web components bundled separately.

**Describe the solution you'd like**
Having setup where `src` directory can contain multiple folders for every single web component with the `index.js` as an entry point inside every folder (similar as it is for a single web component at the moment).

*

[2020-01-21 09:55] lioshi opened #43 "Upgrade version of direflow"
**Is your feature request related to a problem? Please describe.**
I create a web-component with Direflow in 3.0.1, how upgrade to 3.1.0 version?

**Describe the solution you'd like**
A description of which updates make in source code.

**Describe alternatives you've considered**
I can re-create a web-component and paste the source code... But an easy way will be good

[2020-01-21 10:40] ussuritiger opened #44 "Support for styled-jsx"
**Is your feature request related to a problem? Please describe.**
I would like to be able to use React components that use `styled-jsx` styling in Direflow web components.

**Describe the solution you'd like**
Direflow supports `styled-jsx` same way as `styled-components`.

**Additional context**
This way a lot of existing shared React components can be reused in web components without rewriting.

[2020-01-21 11:15] Silind commented on #42
Hi @ussuritiger
Thank you for creating a feature request.

I want to make sure I understand your explanation correctly.

If you want to structure your code such that each component has its own index.js file where the Direflow Component is created and properties are set, etc, there is nothing that prevents you from that.
You just need to make sure that this is imported into the main index.js fil.

[2020-01-21 11:19] Silind commented on #43
Hi @lioshi
Thanks for creating an issue.
Just as an fyi, you can still create a blank issue when you have a question 😉

In order to upgrade to version 3.1.0, you go to package.json.
Here, you will find `direflow-component` as a dependency. Set this to `3.1.0` and run `yarn install` and you're good to go.

If something is breaking, you may need to look into the [direflow docs](https://direflow.io/g

[2020-01-21 11:19] Silind commented on #44
Hi @ussuritiger
Thanks for this suggestion 🙂

I'll add it to the todo-list and look back into this in a future realese 👍

[2020-01-21 11:37] lioshi commented on #43
Thanks!

[2020-01-21 11:45] ussuritiger commented on #44
Thanks a lot and keep up the good work!

[2020-01-21 12:05] ussuritiger commented on #42
Thanks for the explanation. What I mean is to be able to develop multiple web components in the same time (perhaps the way that you described about) but still be able to do production build for every single (or multiple) web component.

This way if somewhere I need only a button web component for example, I will only include the bundle file with only button web component. If multiple web component

[2020-01-21 12:31] pedrodgfaria commented on #42
You are describing the deprecated [direflow-project](https://www.npmjs.com/package/direflow-project) cli in v2

[2020-01-21 12:40] ussuritiger commented on #42
Good to know but I am still wondering if behavior that I've described is achievable with the current version of Direflow or is there any plans/interest in making this possible? Thanks.

[2020-01-21 13:17] #43 closed

[2020-01-21 13:36] Silind commented on #42
As @pedrodgfaria mentions, there was a setup similar to what you describe in an earlier version.
It was deprecated due to lack of flexibility. Bundle size was enormous and the setup was quite clumsy and annoying to work with.

However, the answer is somewhat yes; there is a plan for creating the ability to create different bundles thus choosing which separate Direflow Components to be included in

[2020-01-21 17:00] lioshi opened #46 "Cannot rename build file from webpack override"
I want to rename build file: **direflowBundle.js**.
Like this I have error: __ENOENT: no such file or directory, open '/home/lioshi/gitlibs/booki/eilep-booki/build/customeName.js'__

[code]

[2020-01-21 18:14] JohnDeved commented on #46
this should work with
[code]
but seems to be blocked by
https://github.com/Silind-Software/direflow/blob/bbe46ce7eba9b7c3f5982fecb405f6deb64843ee/packages/direflow-component/src/config/config-overrides.ts#L131

[2020-01-21 18:32] JohnDeved commented on #46
@lioshi
quick dirty workarround for now
[code]

downside is that this will leave some trash files that would have been deleted otherwise in the build folder. but at least it works now

[2020-01-21 19:04] Silind commented on #46
Hi @lioshi
Renaming the bundle is - unfortunately - one of the few things that you cannot just change due to the reasons that @JohnDeved mentions.

The config override is currently cleaning up the build folder for you, and this part is hardcoded.
I'll rename this issue and put it in the project backlog since this is actually something that needs to be adressed :+1:

Thanks for creating this issue.

[2020-01-22 05:40] Silind opened #48 "Setup integration test with cypress"
Create a new Web Component and render it with puppeteer.
Make assertions on the following criteria:
- Renders with an initial state (initial properties)
- Updates correctly on change attribute
- Updates correctly on change property
- Renders with a slotted element
- Updates when a slotted element is injected dynamically

Integrate with GitHub Actions as a part of the test pipeline.

[2020-01-22 07:26] #40 closed

[2020-01-22 08:52] JohnDeved commented on #48
could recommend cypress.io for this as well

[2020-01-22 12:05] #46 closed

[2020-01-22 13:44] lioshi commented on #46
Thanks to U for 3.2.1 version ;-)

[2020-01-22 14:48] kaiekaie opened #49 "Bundle polyfill as splitchunk instead of remote script"
It would be nice to bundle the polyfill components so you could serve it from your own server with the
direwolf component after build.

[2020-01-22 17:42] Silind commented on #49
Hi @kaiekaie
Thanks for showing interest in Direflow :slightly_smiling_face:

This is technically already possible.
You can use the 'polyfill-loader' plugin to specify the address of your polyfill bundles.
You can see how to do that [here in the documentation](https://direflow.io/plugins#polyfill-loader).

Now you simply serve your polyfills and reference the address in the plugin, and the Direflo

[2020-01-22 17:45] kaiekaie commented on #49
Okei i understand, i will try that out! Thanks!

ons. 22. jan. 2020 kl. 18:42 skrev Simon LH <notifications@github.com>:

[2020-01-22 17:47] Silind commented on #49
Great :blush:
Let me know if you have any problems.

[2020-01-22 17:47] #49 closed

[2020-01-23 10:17] kaiekaie commented on #49
Could it be a option to load custom-elements-es5-adapter.js too?

[2020-01-24 08:52] zook-cs commented on #30
Hey Simon, I've succeeded doing what I wanted by using webpack externals in the direflow-webpack.js
`module.exports = (config, env) => ({
  ...webpackConfig(config, env),
  externals: {
    react: 'React',
    'react-dom': 'ReactDOM',
  }
});`

[2020-01-24 11:16] Silind commented on #30
Alright @zook-cs, awesome stuff!
Do you have a public repository somewhere with a full working example?
I'd love to see how this is working.

[2020-01-26 14:42] Silind opened #52 "Optionally disable scoped styles"
### Feature
There should be an option to disable scoped styles.

The configuration should be set in the `configure` method:
[code]
### Result
The unique identifier disappears on css classes and HTML elements:

### Example
[code]

[code]

### Additional context
Currently, the third-party library [style-it](https://github.com/buildbreakdo/style-it) is used for injecting styles. This feature may not

[2020-01-26 14:51] Silind opened #53 "Split Direflow Components into multiple bundles"
### Feature
It should be possible to set up a build configuration that specifies different bundles for different Direflow Components.

[code]
This configuration object should somehow go in the direflow-webpack file.

[2020-01-26 14:53] Silind commented on #42
We have an issue for this [here](https://github.com/Silind-Software/direflow/issues/53).
This feature is planned to be included in the next major release.

[2020-01-26 14:53] #42 closed

[2020-01-26 15:01] Silind opened #54 "Make Webpack settings eaiser to configure"
### Feature
Create an API / interface for easily configuring the most common Webpack settings.
Examples: Changing names of bundle-files, changing names of bundle folder (currently 'build'), configuring optimization, etc.

There should still be an option to fully configure/override Webpack configuration as it is now, but an easy API should be offered for most common cases.

This partially overlaps

[2020-01-26 17:03] Silind opened #56 "Generate boilerplate to make project NPM-ready"
### Feature
It should be possible to make a Direflow Setup NPM-ready by providing necessary boilerplate code.
The option should be provided with the CLI both during the initial setup, and as an add-in at a later point.

[2020-01-27 08:53] JohnDeved opened #57 "Direflow Settings Component Decorator"
### Feature
As an alternative `direflowComponent.configure`, it would be nice to have a decorator which sets static settings variables on the to react component which direflow can use to figure out what settings to use in the `direflowComponent.create` function

/direflow-component/App.tsx:
[code]

./index.ts:
[code]

alternative for non-typescript users:
[code]
or just stick to
[code]

[2020-01-27 08:59] JohnDeved commented on #52
maybe this should be a setting on the Styled component, to choose on a per-style basis
[code]

[2020-01-27 12:17] Silind commented on #52
Yeah, good point, @JohnDeved

[2020-01-27 19:59] Silind opened #58 "Options to use 'async' when using external-loader plugin."
### Feature
When using the `external-loader` plugin, there should be an options provided that will import scripts using the `async` attribute.
If multiple Direflow bundles exist in the same host application, they "hook into" an already loading script, if it already exists in the `head` of the host.

### Usage
[code]

### Result
The script tag will load using `async`:
[code]

[2020-01-28 09:40] JohnDeved commented on #53
#### Proposal for API

## Configure
configure is done on a per-component basis.
[code]
the 'configure' prop is not needed when using the proposed configure decorator (#57)
possible alternative when configure decorator is used:
[code]

#### why not use `direflowComponent.configure()` to set component settings?
in my opinion, `direflowComponent.configure()` would grow too complicated in this use cas

[2020-01-28 11:42] lioshi opened #59 "Integrate Material UI with useShadow:true"
In app.js of a web component I import materialUi ([https://material-ui.com](https://material-ui.com)) to use collection of react's components
`import React from 'react';`
`import Alert from '@material-ui/lab/Alert';`
It works with shadow dom off but how integrate MaterialUI style in component with shadow dom on in direflow component?

[2020-01-28 11:59] JohnDeved commented on #59
in my experience, UI libraries work when you include the CSS outside, and inside the web component.
& the way the Styled component includes CSS right now can also potentially mess with stuff.

You are better off just using `useShadow false` right now.
But be aware that this problem is being worked on right now for a 4.0 release

[2020-01-28 12:04] JohnDeved commented on #59
probably related to #34

[2020-01-29 17:52] velociwabbit opened #60 "flowdire maybe?"
I just came across this project and am really pleased that others are seeing the inevitability of HTML custom Components.

I have actually taken the opposite approach and have a set of custom Components that are designed to be stand alone.

The challenge is that I am unclear as to how to best integrate them back into the react ecosystem, hence this note.

No doubt there are many that would like to

[2020-01-30 08:49] JohnDeved commented on #60
hey @velociwabbit, thanks for your suggestion!

If I understand correctly, you want a tool that helps you implement webcomponents in existing react apps? Unfortunately, that seems to misalign with what we have in mind for direflow.

I think I have to disagree with you on that, the react community is still rapidly growing, compared to any other Front-end framework/library. As suggested by the state

[2020-01-30 08:50] #60 closed

[2020-01-30 16:16] velociwabbit commented on #60
I figured as much.

But what you are doing is still cool. I think that the way to do it is to
encapsulate most of the react into one or more of your modules and use web
components for the rest.

BTW just because react is growing does not make my statement less true. If
you search youtube there are an increasing number of people creating videos
about why they are  moving away from react.  It is not

[2020-01-30 16:32] velociwabbit commented on #60
beating a bit of deal horse here but the fact that this repo is being
created is implicitly  acknowledging that components can do things that
solve react limitations.

(i would state it more strongly but that would be just picking a fight and
I think what you are doing is really cool)

On Thu, Jan 30, 2020 at 8:15 AM James Reilly <jimreillyemail@gmail.com>
wrote:

[2020-01-30 17:20] JohnDeved commented on #60
I'm not sure you can compare webcomponents themselves really against react the way you do. It's a utility of the web, which frameworks like react can make use of as well. you are most likely using a framework that builds on top of webcomponents right? Direflow just enables you to use react for it. :smile:

[2020-01-30 20:17] velociwabbit commented on #60
no i am using native web components  No framework just building  components
themselves and it really works well.

If you want i can post some for you so you can kick the tires... This is
what i was referring to.  React is not necessary anymore ... better
performance, easier to build (once you understand some of the subtleties )
and really easy to debug... no more fighting with webpack or trying to

[2020-01-30 20:19] JohnDeved commented on #60
Sure, please post some code. I would like to see :smile:

[2020-01-30 20:29] velociwabbit commented on #60
will do

  The only thing that is a bit tricky is event handling... if the call is
only one level deep i can us  cb="xxx()"  directly in the element. And if
it is deeper i must generate my own event and the caller must
addEventListener to that element... This is the only real goofiness (i
would normally say ugly but it is still very clean looking code).

this is a really easy one... I put it toget

[2020-01-30 20:41] JohnDeved commented on #60
Thanks! Can you make a github gist with the code maybe?

[2020-01-30 21:20] velociwabbit commented on #60
Ok i will do that (i am a gist newbie so it might take a few minutes to figure out )  in the meantime i have a more complete app that i am pasting below

The login is disabled so when you click it you have to refresh to do anything
the bracket game is all SVG and unrelated to this but it is still kind of cool

I am still heavily using google MD css in this version... i have since pulled most of it

[2020-01-30 22:08] velociwabbit commented on #60
I have created one for the full test app. I also have many other components
text-input, menutext-input, textarea-input , icon-buttons, flat-buttons,
tabs, drawer , yada yada yada.

Let me know what you think...but please  Remember this is pre-alpha
untested/documented code just to see how hard it was to do.

If anyone likes them I will start making a repo....  Even willing to do it
with you guys i

[2020-01-30 22:13] JohnDeved commented on #60
looks very interesting indeed :D
I wonder tho, why the lack of multiline template strings?
A lot of CSS & HTML is written in concatenated strings?
And isn't it weird writing so much CSS inside a string without syntax highlighting?

this css variable `--picachu`. hopefully is referring to the pokemon?

and please explain this function
[code]

there are a few functions like this, it looks like you a

[2020-01-30 22:30] velociwabbit commented on #60
Actually it is less work than doing like everyone else does.

And yes most of the code is built as char arrays... I took this
directly from the MDN site on how they do their custom Component examples.
 They use backticks but they are char arrays none the less.

Also i looked at google MD website and mail and other google code and
google does a lot of char array copying for their dom generation....

[2020-01-30 22:37] velociwabbit commented on #60
also i am not married to any formatting layout.

it is just that i am slightly error prone and anything that reduces my ham
fisted typing and ever so slightly dyslexic reading is a good thing for me.

I would do it in braille or cuneiform if it would reduce unforced errors on
my part.

That is why one of my pet peeves are reducers and action creators in
different index.js files... if you have 10 o

[2020-01-30 22:52] velociwabbit commented on #60
--picachu was a chelsea handler reference to a certain shade of red for something she references.

I just needed an extra word that was about the same size and cadence that was memorable so that i knew it was really really  red .   It is one that i now always remember :)

[2020-01-30 22:54] JohnDeved commented on #60
well, thanks for sharing this, it's definitely something.
reminds me of how I used to write vanilla javascript + jquery sites years ago.
but honestly, it's not my cup of tea, I wouldn't want to maintain something like this in the long run.
I'm happy that you like it this way and all the props to you for trying something different!
if my goal was to reduce bundle size as much as possible, personall

[2020-01-30 22:56] velociwabbit commented on #60
As i said it was an experiment... and not ready for prime time.

And i certainly understand the "something" polite statement.

On the other hand the half life of javascript is about a year... so maintenance is a function of how it is enhanced not how it starts.

Did you load it up and see it running?

[2020-01-30 22:57] velociwabbit commented on #60
You do recognize it has zero dependencies except Roboto font?  No prereact, no jquery no lodash zippo?

[2020-01-30 22:58] JohnDeved commented on #60
I did. I put it in a codesandbox.

[2020-01-30 23:02] velociwabbit commented on #60
never tested it in a code sandbox... it should work as long as it is in chrome.

If you are a lover of typescript i certainly understand your polite response... and i appreciate your point of view.

I feel like I am stuck back in java or csharp when i use typescript... all the joy goes away and i am back to drudgery.

Potato /Tomato!

[2020-01-30 23:02] JohnDeved commented on #60
Yes I can see that it doesn't have any dependencies. (Unless you count the md ui css).
But I wonder if saving 8kb is worth not using preact

[2020-01-30 23:06] JohnDeved commented on #60
I like typescript because it makes my code write itself. If I want to change something, I change the types and the editor shows me in red where I need to change stuff to make everything work.
And the autocomplete is just so nice. No need reading documentation, the autocomplete is the documentation itself.
That's just how I feel :smile:

[2020-01-30 23:10] velociwabbit commented on #60
Yes i understand that... typescript helps with that... In fact that is the best argument anyone has ever given me for it...   I will take it under advisement.

Preact works well but it is not react and therefore runs technical risk of being out of step... (i know fairly lame argument).

I tried using it last year and there were some incompatibilities that i could not easily resolve.  Maintenance i

[2020-01-30 23:16] velociwabbit commented on #60
But you just gave me a great idea... using preact instead of hard coding chars MIGHT be worth the technical risk.

The only issue that needs to be resolved is event handling... And that is non trivial .. react has a rube-goldberg event handling system...  and we are expected to work around it.    that is why they are trying to ditch it for the next big ()=>  thing (which is about as much work as b

[2020-01-30 23:17] JohnDeved commented on #60
Seems to me your main concern is making it easy to debug bugs. While mine is preventing them before they happen.

We have the same goal but different solutions :wink:

[2020-01-30 23:19] velociwabbit commented on #60
We work within our own limitations... I would mispel my name were it not for autocorrect.  So yes what you can do perfectly i make up with iteration and good humor!

[2020-01-30 23:19] JohnDeved commented on #60
If you are gonna test preact next, please try out typescript with it.
TSX is the best thing since sliced bred.
It type checks your HTML code, it's beautiful!

[2020-01-30 23:20] velociwabbit commented on #60
Because it is your recommendation and what you are doing is fricking brilliant (IMHO)  i will try it for real.
what editor do you recommend?

[2020-01-30 23:21] JohnDeved commented on #60
Haha same here. That's why I desperately need the typescript autocomplete. Or I would mess up variable and function names so often, you wouldn't believe! :smiley:

[2020-01-30 23:24] JohnDeved commented on #60
I would recommend vscode personally. TypeScript was created by Microsoft for the creation of vscode. That should speak about how well vscode handles typescript. If you want something more native,

[2020-01-30 23:26] velociwabbit commented on #60
using vs 2019... right now...

cheers
it was a pleasure chatting with you... and let me know how i can help...

[2020-01-30 23:29] JohnDeved commented on #60
Please do so. But mind you I'm also only a humble servant of @Silind
This project was created by his genius mind haha 😄 I can't take the credit. I just started helping him here and there 2 weeks ago

[2020-01-30 23:32] JohnDeved commented on #60
Be aware, VisualStudio 2019 is not the same thing as VisualStudio Code. :)

[2020-01-31 07:21] Silind commented on #60
This is a very interesting discussion, gentlemen 😊
Comments on this issue are now counting 32, so I suggest we wrap it up here.
@velociwabbit, may I kindly suggest to join our Slack channel? We have a nice #discussion group in there 🙂- you can find it on our [webpage](https://direflow.io).

Cheers, and thanks for showing interest in Direflow!

[2020-02-02 02:33] velociwabbit commented on #52
This note is mostly a FYI (i will finish it tomorrow after testing the changes against the original)

Here is a condensed version of the style-it code that removes most extra stuff and leaves all the working parts as is (more or less)

What I need to do next is figure out what it means to be non-scoped in terms of what to make optional. (It is only in one method the doCSS one)

sorry about the wid

[2020-02-02 02:48] velociwabbit commented on #52
actually i think it might be as simple as this

 const  adler32  = ! this.props.scoped ? (data)=> data   :   data  =>{ ... rest of adler}

[2020-02-02 12:39] Silind opened #61 "Migrate from tslint to eslint"
Migrate from tslint to eslint.
Make sure to preserve as many of the current tslint rules as possible.

Fix liniting issue / change rules whereever needed.

[2020-02-03 13:39] ScottBreyer96 opened #63 "Material-ui not working"
**Describe the bug**
Hello
I want to use a data table based on material-ui.
It works very well when the Shadom Dom is not activated but does not work when it is activated. The style is not applied.

**To reproduce**
Steps to reproduce the behavior:

npm install mui-datatables --save
npm install @material-ui/core

The code in my app.js :

`
import React from 'react';
import PropTypes from 'prop-typ

[2020-02-03 14:11] JohnDeved commented on #63
thank you @ScottBreyer96 for submitting a bug.
this issue is already tracked in #59, so I will close this issue in favour of that one.
If there is anything else we can help you with, don't hesitate to let us know :)

[2020-02-03 14:11] #63 closed

[2020-02-03 20:35] rzhovnirchyk opened #64 "Properties should be unique for each instance of the component on the page"
**Describe the bug**
Property value is used by multiple instances of the component on the same page.

**To reproduce**
1. Create a new component with `direflow create` ('test' is the name)
2. Duplicate `<test-component></test-component>` in `index.html`
3. Add `componentTitle` attribute to the first instant of the component
4. Load the page and see that specified title is used by both components

[2020-02-03 22:09] lucasinocente opened #65 "Error when use `async`"
**Describe the bug**
If I need use `async` in the component function, return error.

**To reproduce**
Steps to reproduce the behavior:
1. `direflow create`
2. At line 6 add async:

[code]

**Package Manager:**
To install Direflow, I used npm;

**Error:**

[code]

[2020-02-03 22:30] lucasinocente commented on #65
Hm, my bad. It's not a Direflow bug. Sorry.

[2020-02-03 22:30] #65 closed

[2020-02-03 22:34] #56 closed

[2020-02-04 09:40] traveltek-craigb opened #66 "Is it possible to access shadowRoot when using useShadow: true"
I am trying to use antd components inside my exportable component. The issue is many of antd's components render popups like dropdowns and modals outside of the virtual dom as the default code adds them to document.body.

For example I need access to be able to do:
this.shadowRoot.getElementById('target') inside App.js so I can override antd functions such as,
getPopupContainer and getCalendarCont

[2020-02-04 10:10] JohnDeved commented on #66
hey @traveltek-craigb thanks for submitting this issue.
you can access the shadowdom using the following:
[code]

ant design's popups like models also work well with shadow root if you include the antd css outside the shadow dom as well as inside. This also fixes stuff like the button ripple and so on. if that is an option for you.
Otherwise, I would always recommend using `useShadow: false` when

[2020-02-04 10:10] #66 closed

[2020-02-05 12:53] chrissena opened #67 "How to generate sourcemaps"
I'm struggling to work out how to build with sourcemaps?

[2020-02-05 13:41] Silind commented on #67
Hi @chrissena

Currently, the build process only outputs one or two files.
A bundle-file, or optionally and bundle and a vendor-file.
That means that sourcemap-files are stripped during the build-process.

But if I may ask, what is your situation?
Why do you need to produce sourcemaps as a part of the build?

[2020-02-05 17:53] chrissena commented on #67
Thanks for the response @Silind

I see.

Well, I use sourcemaps for a couple of reasons:

I am building a react app as a web component and using this within a  much larger application in production.

The build process of the larger application submits source maps to Sentry.io for error reporting. So exact commits and line numbers can be tracked and associated with runtime errors. This has proven i

[2020-02-05 18:09] Silind commented on #67
Ahh, I see.
Well, sourcemaps are still a part of the dev environment.
That means, when you start the setup running `yarn start`, sourcemap for debugging is now included.
They're simply stripped at build time.

There's a couple of solutions, yes.
The easiest one is to just use the bundle as its served during development.
So if you start up using `yarn start`, you can now include your bundle somewhe

[2020-02-05 18:14] JohnDeved commented on #67
Let's also keep this in mind for #54

[2020-02-06 09:55] traveltek-craigb opened #68 "Importing antd less styles and overrides"
I'm currently trying to get antd default less styles working with direflow and having a few issues. None of the styles from antd.less seem to be getting applied / picked up by the component. I'm not sure where I'm going wrong here.

Here are my files:

App.js
[code]

direflow-webpack.js

[code]

Any help would be appreciated,
Thanks.

[2020-02-06 11:31] #68 closed

[2020-02-06 11:31] traveltek-craigb commented on #68
Found another working solution.

[2020-02-06 11:55] JohnDeved commented on #68
hey @traveltek-craigb,
may I ask what your solution to your problem was?
seems related to #63 & #59

thank you

[2020-02-06 12:12] traveltek-craigb commented on #68
I am using gulp within the application already so I used the gulp-less plugin to do what I needed.

gulpfile.js
[code]

And I added gulp to the beginning of the start and build scripts in package.json.

[code]

[2020-02-06 13:19] JohnDeved commented on #68
im guessing you are not using shadow dom, right?

[2020-02-06 13:21] JohnDeved commented on #68
the problem in your first example is that you need to pass the antd style in the Styled component. this wont work if you are using shadow dom tho

[2020-02-06 14:03] traveltek-craigb commented on #68
Yes I am using the shadowDom.

The gulp script compiles the less down to css and moves it into the direflow-component folder so then inside the App.js I have

[code]

and then for the logic

[code]

[2020-02-06 14:26] JohnDeved commented on #68
Nice solution!
So you have the antd css included outside the shadowdom as well? Because in my experience, modals and other popups stop working right otherwise

[2020-02-06 14:32] traveltek-craigb commented on #68
The modals stop working due to the default behaviour of them being added to document.body.
Antd has functions you can override to change that default behaviour. This is why I needed to access the shadowRoot.

If you see the getContainer prop function, that is passed down to antd override functions such as
"getPopupContainer" and "getCalendarContainer" so that the styles only need to be added insid

[2020-02-06 16:59] JohnDeved commented on #68
oh, that's right, I remember you now!
that's pretty cool, I didn't know you could do that with antd 👍
sadly not something we can use for direflow tho, we would need some general solution for UI libraries :D

[2020-02-07 07:29] Silind commented on #68
@JohnDeved Maybe we can create custom plugins for some of these cases?
For that handful of really commonly used UI Libraries, we may want to consider creating custom support.
If we can make it as plugins so we don't compromise too much on bundlesize, I think that's definitely worth considering.

[2020-02-07 07:57] JohnDeved commented on #68
Thats true, we could Support antd and material-ui First, and then see what people want next. It will definitiv be more Work in the Long run, but probably a cleaner solution, i agree.

Question Just is, how well can you make this happen for material-ui aswell

[2020-02-07 10:04] mfreville commented on #68
Hey great tricky idea !

I'm trying to add antd too but I didn't know enough gulp to use it like that.
Please do you have more complete snippet about the gulpfile.js ? As for the antd getContainer behaviour for shadow dom ?

It will be great :)

KR.

[2020-02-07 10:33] traveltek-craigb commented on #68
As for the shadowRoot getContainer function, what I posted above:
[code]
The getContainer function I pass down is then called for antd Select (getPopupContainer) and also for antd range picker (getCalendarContainer). This will place these popup elements inside the exportable components div with the id="app".

Here is my entire gulpfile.js
(some of it is completely irrelevant to direflow)

[code]

[2020-02-10 18:29] #61 closed

[2020-02-11 07:44] #64 closed

[2020-02-11 09:16] Silind opened #71 "Providing answers as arguments using CLI"
### Feature
Provide the ability to provide all questions as arguments when using the CLI `create` command.

### Usage
If the `create` command is used followed by the name as the first argument, the CLI skips to the next question.
I.e., if you use the command: `direflow create my-component`, the CLI will skip to the description question.

Similarly, if you type `direflow create my-component -d "new

[2020-02-12 09:50] Silind opened #73 "Create types and interfaces for WebComponentFactory and config-override"
Create interfaces and types for as many of the `any` types that currently exist in the `direflow-component` package, as possible.

Specifically, the `WebComponentFactory` and the `config-override` has a lot of `any` types that can be stronger typed.

[2020-02-12 20:52] #71 closed

[2020-02-19 10:48] dpoerschke commented on #34
Hi, I have updated the demo:
https://github.com/dpoerschke/iconProblemDemo/tree/master/bugreport-component

[2020-02-19 13:22] mfreville opened #76 "IE 11 compatibilty issue - No rendering app"
Hi dears !

I have some issues in order to launch the app through IE 11

- Bug description
My app has no rendering on IE 11 even after follow the documentation to add polyfills.

- How to
1. Install the latest direflow cli
2. Create a new app using direflow create (JavaScript)
3. Add the polyfills following the documentation
4. Add IE 11 to browserlist in package.json
5. Start the app on IE 11

Re

[2020-02-19 15:40] Silind commented on #76
Hi @mfreville

Thank you for creating this issue.
It seems very likely that it is a problem with react-scripts from create-react-app.
We will take a look.

Thanks for pointing out the mistake in the documentation.
We will make sure to correct this 👍

[2020-02-23 08:30] #48 closed

[2020-02-24 16:54] #73 closed

[2020-02-26 08:45] #30 closed

[2020-02-29 11:41] ozakaria opened #86 "How to use direflow-component offline without internet?"
I'm using direflow-component to generate reusable React web-components. It seems that the generated script "direflowBundle.js" is requesting many resources from internet. I have tried to use it offline without internet but it's not working at all. So, is there any way to use direflow-component offline without connecting to internet?

[2020-02-29 12:32] Silind commented on #86
Hi @ozakaria
Currently, this is not an option that comes out-of-the-box since the very building blocks for both Web Components and React are asynchronously requested, as you correctly have observed.

But you are not the first to ask, so we may add this feature to an upcoming release :+1:

You can still make it work by tweaking a bit, but there may still be buggy behavior.
But here it goes :slightl

[2020-02-29 13:36] ozakaria commented on #86
Thank you so much, @Silind
It's working now as expected 👌🏻 !

You mentioned; there may still be buggy behavior...
What is the expected side-effect of using this methodology.

[2020-02-29 16:13] Silind commented on #86
Glad to hear that it's working for you now :blush:

It's hard to say. Any third party library that's also fetching things using CDN's. I know quite a few.
Also, there may be unexpected behavior from Direflow itself - I can't say exactly where, but it's not optimized for offline purposes yet, so it's possible that there may be some issues.

[2020-02-29 16:59] #86 closed

[2020-02-29 19:44] #58 closed

[2020-03-01 08:30] #76 closed

[2020-03-04 13:05] KarimOurrai opened #91 "Build error"
**Describe the bug**
Bug with runing yarn build on Windows
**To reproduce**
create a direflow project with typescripte
dirflow create

this error is thrown
SyntaxError: C:\react\upload-component\node_modules\direflow-component\dist\config\entryLoader.js: Bad char
acter escape sequence (73:27)

  71 | var includeIndex = function () {
  72 |     try {

**Expected behavior**
Compile works

the proble

[2020-03-04 18:11] Silind commented on #91
Hi @KarimOurrai
Thank you for creating this issue. That definitely sounds like a bug.

We will look into this :slightly_smiling_face:

[2020-03-04 19:36] seeiuu opened #92 "build create a bundle that not work"
I have try to use

`"direflow-component": "3.3.1"`

simple following your documentations.
All work like a charm, until I try to build the application

`npm run build`

It create a "direflowBundle.js" of only 4KB... I have put in my index.html and run a server... but it only added this two row

`<script async="" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script><script a

[2020-03-04 20:58] Silind commented on #92
Hi @seeiuu
Thank you for creating this issue.

I cannot reproduce the problem you're describing. Would you kindly elaborate on the following:
1. There should be an index.js or index.tsx file inside your `src` folder of the project. Did you remove or rename that file?
2. Are you using TypeScript or JavaScript for your setup?
3. Which package manager did you use to install? Yarn or NPM?
4. Which OS

[2020-03-04 22:28] seeiuu commented on #92
Thanks @Silind for reply!!!

I have do this step. I am with a Windows 10 64bit, the last update (more o less... I think)

I simple make this step:

1) npx direflow-cli create (I don't like install globally the cli stuff) and follow the wizard
2) npm run build
3) I try with js and ts

Perhaps the problem is with "npx"?

Thanks again!!!

[2020-03-05 07:41] Silind commented on #92
Hi @seeiuu
Using npx should be perfectly fine - it shouldn't make a difference.

I just checked with npx, with both yarn and npm, both TypeScript and JavaScript, and on a Linux (Ubuntu) and a Mac, and I still cannot reproduce the problem.

I suspect that this is a Windows related issue.
We will investigate further 👍

Last question though.
Did you name your component something starting with a 'u'?

[2020-03-05 08:07] seeiuu commented on #92
Hi @Silind this morning I have try again,
this is the step that I did:

1. `npx direflow-cli create`
1.  on question for name I chose "myelement"
1. `npm install `
1. `npm run build`
1. I went to the "build" dir, and copy the index.html that I found in "public" dir
1. I have add to this file <script src="./direflowBundle.js"></script> in the head section
1. I have run in build dir `npx http-server

[2020-03-05 11:53] JohnDeved commented on #92
I just successfully recreated the issue on a windows machine.

npm start works
npm run build creates the error message as described

[2020-03-05 14:12] Silind commented on #92
Alright, so we narrowed this problem down.
We will look into this as soon as possible 👍

Until then, try to use version 3.2.8.
It comes with a larger bundle size, but it should build properly.

[2020-03-05 17:24] #53 closed

[2020-03-05 17:24] #57 closed

[2020-03-06 13:05] Silind opened #93 "Using material-ui plugin causes error"
**Describe the bug**
Using Material UI with the material-ui plugin causes the following error:
`Warning: [JSS] Insertion point is not in the DOM`

This issue occurs when new Material UI components are dynamically added to the DOM during rerender.

**To reproduce**
Steps to reproduce the behavior:
1. Create new Direflow Setup
2. Install material UI and add the plugin. [See description](https://dire

[2020-03-06 14:11] nicocunin commented on #93
I'll work on that issue, could you assign it to me pls?

[2020-03-06 17:11] otherjohn opened #94 "styled-components don't seem to render on page"
I have installed styled-components via the following steps:
yarn add styled-components
added the following to index.js
[code]
and the following in my app.js
[code]
[code]
I get no css rendered, but the html does this on the page
[code]
Am I doing something wrong?

[2020-03-06 17:21] Silind commented on #93
Perfect - I have assigned you @nicocunin

[2020-03-06 17:41] Silind commented on #94
Hi @otherjohn
Thank you for creating this issue - you've don everything correctly.
I verified that styled-components has broken. The reason is due to styled-component recently doing a major release: https://github.com/styled-components/styled-components/blob/master/CHANGELOG.md#v500---2020-01-13

They've introduced some changes that unfortunately broke our setup.
We will update to make Styled Comp

[2020-03-06 18:23] otherjohn commented on #94
Awesome, thanks for jumping on this.  I am starting a web-component that uses this.
John

[2020-03-06 19:37] otherjohn opened #95 "Feature Request - @emotion"
Very much like styled-components but smaller package size

Supposedly @emotion performs faster.
https://github.com/jsjoeio/styled-components-vs-emotion#:~:text=

[2020-03-07 07:42] Silind commented on #95
Great suggestion :slightly_smiling_face:
We have been looking into emotion support earlier - we started with styled-components given that it's used more than 3 times as much as emotion.

But it would definitely be great to include - let's keep this issue open and we'll keep it in the backlog for later :blush:

[2020-03-09 16:01] mfreville commented on #76
Hi @Silind,

I have just test the new version of the direflow-cli.

There is always the same issue on IE 11.

And there is a new error on the build of the component which generate this error :
Error: Polyfill failed to load at HTMLScriptElement.<anonymous>

Do you prefer I create a new issue or this one can be re open ?

I can try to investigate on it later.

Kind regards,
MF

[2020-03-09 19:52] #93 closed

[2020-03-11 07:21] Silind commented on #76
Hi @mfreville
Just to clarify - the error `Error: Polyfill failed to load at HTMLScriptElement.`, is only showing while using IE11, right?

[2020-03-11 23:00] machr-ACG commented on #94
Another workaround is to set `useShadow: false` but I'm not sure how that affects the rest.

[2020-03-16 09:10] saraivinha85 opened #102 "Bundle all dependencies including React"
**Is your feature request related to a problem? Please describe.**
I develop in a restricted environment and my production app cannot download libraries from the internet in runtime. I would like an option to bundle all dependencies (including react) when I build the webcomponent

**Describe the solution you'd like**
Pass a flag to the build script to bundle all dependencies

[2020-03-16 09:18] Silind commented on #102
Hi @saraivinha85
Thanks for creating an issue.

You are not the first to request offline support, so this is definitely something that we will look into.
There should be an issue build option, just as you suggest.

Until then, please see [this answer](https://github.com/Silind-Software/direflow/issues/86#issuecomment-592940718) on how to gain offline support.

[2020-03-16 12:01] BastianMa commented on #92
Windows 10, direflow 3.4.3 (cli and project):
new Project - npm run start and npm run build doesn't work

[2020-03-17 07:51] Silind commented on #92
Hi @BastianMa
From version 3.4, all Direflow Components must be located in a folder `src/direflow-components`.
Check [this article](https://medium.com/@simonlhoiberg/direflow-v3-4-0-release-notes-60e1caff3805) to get an overview over breaking changes in 3.4.

There could be a more descriptive error message, though.
We will include that in the next patch 👍

[2020-03-17 08:01] BastianMa commented on #92
The structure is there, its a new generated project. 🤔

[2020-03-17 09:45] Silind commented on #92
Oh, I see.
I assume this is yet again path related on Windows OS.
We will look into this as soon as possible.

Thanks for creating this issue.

[2020-03-18 11:26] nkrmr opened #103 "ReferenceError: React is not defined"
**Describe the bug**
I'm trying to integrate the build **direflowBundle.js** to a nextjs app and i have this issue **ReferenceError: React is not defined** on log.

**To reproduce**
Steps to reproduce the behavior:
1. Install 'yarn'
2. Open 'yarn dev'
3. Build 'yarn build'
4. I copied the build file into my project and i import it with
[code]
but i have **ReferenceError: React is not defined** err

[2020-03-18 15:53] Silind commented on #103
Hi @nkrmr
Thank you for creating this issue.

Yes, nextjs may very well be the cause of this problem.
Direflow Components cannot be serverside rendered, or be part of serverside rendered markup product. Both the React modules and the Web Component polyfills are lazyloaded and not included in the `direflowBundle.js` file.

You may want to try following the steps in [this comment](https://github.com

[2020-03-18 15:55] nkrmr commented on #103
Hi @Silind
I'm trying on another stack without nextjs only on a simple HTML page and i have the same issue

Best regards

[2020-03-18 15:59] Silind commented on #103
Ok, then somethings is clearly wrong.
I'm gonna hit you up on Slack and try to help you :slightly_smiling_face:

[2020-03-18 17:35] #103 closed

[2020-03-18 17:42] Silind commented on #103
Fixed in version 3.4.4 :+1:

[2020-03-18 20:52] mgm87 commented on #19
Why is this closed? I have the same issue in v3.4.4
It looks like the discussion changed topics halfway through and was closed without resolving the issue...

[2020-03-19 06:37] Silind commented on #19
Hi @mgm87
This issue is closed because it's about using `direflow-project` which was deprecated in v2.

Kindly create a new issue and describe your problem 🙂

[2020-03-20 08:20] saraivinha85 opened #105 "Material-UI makestyles invalid CSS"
**Describe the bug**
Using makeStyles generates invalid CSS

**To reproduce**
Use material-ui makeStyles and withStyles to inject as props the CSS.

**Expected behavior**
The generated CSS is valid

**Screenshots**
[Screenshot](https://pasteboard.co/IZWgkdI.png)

[2020-03-20 11:29] saraivinha85 opened #106 "Material-UI CSS not injected"
**Describe the bug**
Material-UI CSS not injected when components are rendered after first mount.

**To reproduce**
Working code:

[code]

Not working code (labels are injected later using redux):

[code]

**Expected behavior**
The buttons should appear styled.

[2020-03-20 20:20] Silind commented on #105
Hi @saraivinha85
Thanks for creating this issue.

Can you provide a reproducible example on a GitHub repo?
That would make it very easy for us to debug the problem.
Thanks in advance.

[2020-03-20 20:21] Silind commented on #106
Thanks for creating this issue.
We will look into this as soon as possible.

[2020-03-21 17:34] saraivinha85 commented on #105
Hi. Sure, take a look:
https://github.com/saraivinha85/direflow-MUI-makeStyles-bug

It just renders "hello" to the screen but the background should be red.

[2020-03-21 17:57] saraivinha85 commented on #106
Take a look at this example:
https://github.com/saraivinha85/direflow-MUI-CSS-bug/

[2020-03-21 18:47] Silind commented on #105
Awesome, thank you sir!
We're working on this problem as we speak.

[2020-03-22 13:27] Silind commented on #106
Hi @saraivinha85
This issue has been fixed in version 3.4.5.
I have verified it on your reproduction repo.

Thanks for creating this issue :+1:

[2020-03-22 13:27] #106 closed

[2020-03-22 14:10] Silind commented on #105
Hi @saraivinha85
This issue has been partially fixed.

Using the `withStyles` HOC from material-ui becomes unstable.
I can tweak your example to work, but it's not recommended to use the HOC.

If you instead use the hook API as explained [here](https://material-ui.com/styles/basics/#hook-api), everything works great :smile:

Working example based on your repository:
[code]

[2020-03-22 14:10] #105 closed

[2020-03-22 14:13] Silind commented on #94
This issue is fixed in v. 3.4.5 :slightly_smiling_face:
You can now use the latest version of styled-components with Direflow :+1:

[2020-03-22 14:13] #94 closed

[2020-03-22 14:18] Silind commented on #102
Hi @saraivinha85
In version 3.4.5 we have introduced a way to turn off lazyloading of React, and include React in the bundle instead.

In the `direflow-webpack.js` file:
[code]
[code]

[2020-03-22 14:18] #102 closed

[2020-03-22 14:19] Silind commented on #32
Fixed in version 3.4.5

[2020-03-23 08:49] saraivinha85 commented on #105
Thanks for the fix, but this solution does not work if I have a class component instead of a hook.

[2020-03-23 09:20] Silind commented on #105
@saraivinha85 Correct.
However, you can inspect the DOM and see that a jss-tag with styles get applied, but the naming is incorrect. You can read off the classnames and see the pattern, and then add it as a string instead of referencing it via props. But it's definitely not very elegant, I agree.
The problem with the HOC becomes even worse when using the inbuilt `Styled` wrapper component, or the

[2020-03-23 09:49] saraivinha85 commented on #105
@Silind Unfortunately that's not an option for me :(

[2020-03-23 09:53] Silind commented on #105
I understand that transforming class components into functional components often entails a lot of reimplementation.

We are sorry for the inconvenience 😞

[2020-03-23 10:29] daffyl0s commented on #92
I am having the same issue using Windows 10.
Cannot Start/Build with error: ENOENT: no such file or directory, scandir '/direflow-components'
Any updates?

[2020-03-23 11:11] Silind commented on #92
Hi @daffyl0s, @BastianMa and @seeiuu
We expect to roll out a patch version that includes a fix for this within the next couple of days :slightly_smiling_face:

[2020-03-24 15:02] #92 closed

[2020-03-24 15:37] seeiuu commented on #92
Well done! Thanks!

[2020-03-24 16:43] nkrmr opened #114 "Use slot to get web component content"
**Describe the bug**
I'm trying to pass the children content of the web component to my React component with slot (https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_templates_and_slots)

[code]
In my App.
[code]
**Expected behavior**
I want to get the children content of the web component to my React component.

[2020-03-25 06:42] BastianMa opened #115 "webpack version issue"
$npm install -g direflow-cli@latest
$direflow --version // 3.4.6
// OS: Windows 10 64Bit

$direflow create
- typescript
- eslint

$npm install
$npm run start

Errormessage:

`
There might be a problem with the project dependency tree.
It is likely not a bug in Create React App, but something you need to fix locally.

The react-scripts package provided by Create React App requires a dependency:

[2020-03-25 06:45] Silind commented on #114
Hi @nkrmr
Thanks for creating this issue.
I'm not able to reproduce this problem - using the default demo content that ships with Direflow, everything works as expected.

Can you make a repository that showcases this issue so I can investigate?
Thanks in advance.

[2020-03-25 07:36] Silind commented on #115
Hi @BastianMa
Thanks for creating this issue 👍

We are aware that there's a version mismatch, and we're currently working on a solution to keep the versions of Wepback in sync.

For now, simply add a `.env` file in your root folder, containing this line:
[code]

That will solve the problem.

[2020-03-25 10:14] Silind commented on #114
I've been looking into this issue, given access to a repository by @nkrmr.
This seems to be related to initial attributes.

If an attribute is set on the Custom Element, the slotted element seems to be swallowed and never slotted into the Direflow Component.

We will look into this bug asap.

[2020-03-26 09:39] BastianMa opened #116 "MuiDialogs, MuiPopover etc.. (Datepickers etc) with ShadowDom"
I've just figured out how to use MaterialUi Datepickers (MuiDialogs) with ShadowDom enabled and just want to leave some examplecode here:
direflow version 3.4.6

[code]
[code]

[2020-03-26 10:20] BastianMa commented on #116
maybe its the same effect like this https://direflow.io/guides-and-tips#tips-for-material-ui

[2020-03-26 13:34] Silind commented on #116
Great, thanks for sharing this!
We'll go through your example and add this to the webpage 💪

[2020-03-26 13:34] #116 closed

[2020-03-26 16:45] BastianMa commented on #116
updated the code with const [themeInitialized, setThemeInitialized] = useState<boolean>(false) ....

[2020-03-26 18:11] Silind commented on #116
@BastianMa if you want to add it to the docs, our webpage is open-source as well :smile:
That would be super cool! [direflow-docs](https://github.com/Silind-Software/direflow-docs)

[2020-03-26 20:15] #114 closed

[2020-03-26 20:15] #115 closed

[2020-03-27 09:33] BastianMa opened #118 "IE11 Support in 3.4.7"
**Describe the bug**
App not working in IE11 on Windows 10

**To reproduce**
[code]

cd test347-component

`$npm install`

Configure polyfills

`$npm install --save abortcontroller-polyfill proxy-polyfill`

add
[code]
to src/direflow-componets/test347-component/index.tsx

edit package.json

[code]
`npm run start`

Chrome / Firefox / Edge (Chromium) works
IE 11:
SCRIPT1002: Syntaxerror
direflowBund

[2020-03-27 09:43] Silind commented on #118
Hi @BastianMa
Thanks for creating this issue.
We have quite some path related issues with Windows machines.
Does your issue persist if you run and build on another machine, e.g. a Mac?

[2020-03-27 09:46] BastianMa commented on #118
Will try it on a linux machine after work today ;-)

[2020-03-27 14:38] BastianMa commented on #118
(without IE11 test) no errors on linux
and i got the console-output: "direflowtest347-component ist mounted on the DOM" which is not the case on Windows

[2020-03-27 16:04] Silind commented on #118
Great, thank you for confirming that, @BastianMa!
Then we know that - yet again - there is issues on Windows 👍

We'll look into this asap.

[2020-03-28 15:41] #52 closed

[2020-03-29 17:07] jonessi opened #120 "Build artifact unable to load React when host site uses requireJS"
**Describe the bug**
Using generated web component in host site which utilises requireJS will cause direflowBundle.js to be unable to load React and ReactDOM.

**To reproduce**
Steps to reproduce the behavior:
1. Create an empty project with `direflow create` (TS)
3. Build with `npm run build` to build project without changes
4. Embed generated component from build/ to site template which uses req

[2020-03-30 06:01] Silind commented on #120
Hi @jonessi
Thanks for creating this issue.
I managed to reproduce the bug. We will be looking into this shortly 👍

[2020-03-30 10:09] wildfalcon commented on #14
I seem to have found a workaround for this

In your react component add the code:
[code]

Then wherever you're setting your css or scss for the component add this:
[code]

Then in your render method you can draw an object with
```{svgIcon('edit')}```

Obviously a bit of a hack, but it does work

[2020-03-31 07:54] BastianMa commented on #116
known issue:
doesnt work with shadowdom, if u use multipe same webcomponents on same page :/

[2020-03-31 09:20] BastianMa opened #121 "ShadowDom/Material-UI-Plugin: Styles not added to same Components on one Page"
If you add the same Component twice on the same Page - and have ShadowDom and Material-UI-Plugin active, JSS-Styles are only added to one Component:

![image](https://user-images.githubusercontent.com/45563198/78009571-82a2d780-7341-11ea-9e08-548e294dc6b5.png)

[2020-03-31 11:49] Silind commented on #121
Nice catch 👍
I was able to reproduce this.
This is definitely a bug. We will look into this shortly.

[2020-04-02 12:09] lucabro81 opened #122 "IE11 Promise polyfill"
I've added all import specified in your doc for ie11 compatibility, building the test component, direflow-test:

[code]

but ie11 throw an error:

[code]

I've tried to add also promise polyfill from core-js with:

`import 'core-js/features/promise';`

but same error

[2020-04-08 17:51] Silind commented on #32
This is still an issue.

[2020-04-13 10:11] Silind opened #125 "Correctly parse boolean attribute values"
## Feature

Correctly parse boolean attribute values

### Attributes without values should be considered truthy
#### Currently
[code]
#### Desired
The value `disabled` should be considered true.

### Attributes with the value "true" and "false" gets evaluated as a boolean type
### Currently
[code]
#### Desired
The value `disabled` should be considered a boolean, and evaluate to false

#### :inform

[2020-04-13 10:11] Silind opened #126 "Property names can be referenced as an attribute using kebab-case"
## Feature

When using attributes, kebab-case should be automatically recognized.

When I register a property to my Direflow Component:
[code]

I should be able to reference these as an attribute using kebab-case
[code]

[2020-04-13 10:11] Silind opened #127 "Support for serialized data via attributes"
## Feature

Passing data to an attribute as JSON format should be automatically parsed.

[code]

Now, I should be able to pass in the following data, and the Direflow Component will automatically recognize this as an Array type, and parse the value:

[code]

[2020-04-13 14:08] krzochalski commented on #4
Is there any example on how to do it?

[2020-04-14 10:45] mfreville commented on #122
If I can add information I have this error on IE 11 too :
Syntax error on direflowBundle.js (1135,34) when I launch a new direflow project (3.4.9)
![image](https://user-images.githubusercontent.com/34126107/79216603-c1f71b00-7e4d-11ea-8f86-eb5ea9fb42c9.png)

Even I had the polyfills.

Kind regards,
MF

[2020-04-14 20:45] Silind commented on #122
Thanks, @lucabro81 and @mfreville.
We will be looking into this :+1:

Can I ask you:
- Does this occur when included a build version of Direflow, or on development? Or both?
- Have you added 'IE 11' to `browserlist` in `package.json` as [described here](https://direflow.io/additional#ie-11-support)?

[2020-04-15 09:32] mfreville commented on #122
Hey,

For me it appears on both after add polyfills and IE11 to the browser.

MF.

[2020-04-20 15:27] Pantalaimon commented on #122
Hello,

I have the same issue, in development and production, with polyfills imported and "IE 11" in browserlist as instructed in the documentation.

I tried to quickfix this by adding a babel-polyfill script tag in the head of the index.html. This changed the error to :
[code]

[2020-04-22 16:35] jsargeim opened #128 "Global Options for Styled Components"
**Is your feature request related to a problem? Please describe.**
When using React Portals, or anything that removes the component from the DOM structure, the styled component plugin does not move the styles outside of the shadow DOM.

**Describe the solution you'd like**
An option Direflow to apply the selectors CSS globally, per component so it gets applied even if outside the shadow DOM.

**De

[2020-04-22 21:56] Silentscripter commented on #127
Hi @Silind , I am ready to work on this issue

[2020-04-22 22:05] Silentscripter commented on #126
I'm ready to handle this, we should define if the camelCase attribute version should be preserved or use only the standard kebab-case conversion. In the latter case this would mean to bump a major release in my opinion as it would break actual component usages.

[2020-04-22 22:07] Silentscripter commented on #125
I'm ready to handle this.
Are we sure to allow disabled="false" as falsy conversion? Shouldn't false values be limited only to not adding the attribute itself (as it happens with standard html tags attributes?)

[2020-04-23 05:12] Silind commented on #126
Sounds great! :smile:
I think we should make a gradual transition and preserve the camelCase attribute for now. Then deprecate it at a later time, so we can "batch" more breaking changes into a major or minor version bump.
But I'll update the docs to reflect that this is now the 'standard' behavior of the Direflow Components.

[2020-04-23 10:20] Silentscripter commented on #126
I agree with this strategy, sounds fine.

[2020-04-27 10:49] BastianMa commented on #122
i have made a testbuild under ubuntu and copied the direflowBundle.js to windows and it doesnt work either

[2020-04-28 15:37] nicocunin commented on #122
Hi,

I investigated the issue. Here is my feedback.

### Issue in production (yarn build)
1) ProxyPolyfill requires the Proxy object to have the attribute on which a getter is defined:
`
return new Proxy<any>(
    { open: null, closed: null }, // -> code added here to define open and closed attributes
    {
      get(_: unknown, mode: 'open' | 'closed') {
        if (componentMap.get(webComponent)

[2020-04-28 15:59] Silind commented on #122
You're the man, @nicocunin !
I've assigned you to the task. Thanks! You're gonna make a bunch of people really happy :smile:

[2020-04-28 17:57] thatzacdavis commented on #122
Yas @nicocunin! Let me know if you need help validating!

[2020-04-29 00:42] thatzacdavis commented on #122
I can confirm that proxy change is working perfectly once everything is polyfilled in IE11.

[2020-04-29 07:56] nicocunin commented on #122
And doc update here: https://github.com/Silind-Software/direflow-docs/pull/5

[2020-04-29 08:44] BastianMa commented on #122
Hi, nice job!
I have still problems with activated shadowDom and get the error

`Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.`

if i add

[code]
i got an sta

[2020-04-29 14:24] nicocunin commented on #122
Hi @BastianMa ,

To fix the `SCRIPT28: Out of stack space` error, move `path.join(__dirname, 'node_modules', '@webcomponents/webcomponentsjs/webcomponents-bundle.js'),` right before `...webpackconfig.entry`. It should then work !

BTW, to add these 2 additionals polyfills (@webcomponents), you could also have followed the direflow-docs with the polyfill-loader plugin [here](https://direflow.io/plu

[2020-04-30 05:24] #122 closed

[2020-04-30 05:42] Silind commented on #122
This fix is now included in v. 3.4.10

[2020-04-30 05:43] #118 closed

[2020-04-30 18:58] yananym commented on #41
Yep we are facing this is `3.4.9`

[2020-04-30 18:58] Silind commented on #41
A temporary fix for this is to globally mock out the direflow-components module before running tests.
[code]

[2020-05-01 23:50] fabiofranzini commented on #127
Hi, there are update on this issue?

[2020-05-01 23:51] fabiofranzini commented on #125
Hi, there are update on this issue?

[2020-05-04 09:02] Silind commented on #41
This has been fixed in v. 3.4.11.

[2020-05-04 09:02] #41 closed

[2020-05-05 08:13] mfreville commented on #122
Hey,

I have update my direflow project to 3.4.11 and I think there is one last missing package to add in the documentation for ie 11 support about the custom event polyfill.

IE beat me when I fire event to the main application.

`yarn add custom-event-polyfill`

`// IE 11 polyfills
function configWithIE11(config) {
    config.entry = [
        path.join(__dirname, 'node_modules', 'react-app-poly

[2020-05-05 14:31] thatzacdavis commented on #122
I had fixed that personally with an if statement to use the IE11 way to dispatch events. I didn't even realize there was a polyfill available for it, thanks for pointing that out!

[2020-05-06 09:41] nicocunin commented on #121
Hi,
I've got the solution, we simply need to provide a new SheetManager for each webcomponent:
[code]
You can assign me the ticket I'll provide a PR.

[2020-05-06 09:48] nicocunin commented on #41
Hi Silind,
Can you confirm this version 3.4.12 is not released yet?
The direflow-jest.config.js was not exported during `npm publish` as it's not part of the `files` section in package.json, that's the issue for the 3.4.11 I guess, no?

[2020-05-06 09:57] Silind commented on #41
Hi @nicocunin
Yes, you are correct! That was an unfortunate mistake on my behalf.
I've unpublished 3.4.11, so 3.4.12 is the newest one, including the `direflow-jest.config.js` file :+1:

3.4.12 is released, it got released yesterday.

[2020-05-06 09:59] Silind commented on #121
You're assigned, @nicocunin, thanks a lot :+1:
Note that the plugins now follow this [new structure](https://github.com/Silind-Software/direflow/wiki/Direflow-Plugins).

[2020-05-06 14:13] #121 closed

[2020-05-07 16:43] mrnazarod opened #134 "Main index file not found when running the default setup"
**Describe the bug**
Direflow fails to load the main index.js (or .tsx) file when running in the browser.

**To reproduce**
Steps to reproduce the behavior:
1. Follow the Get Started step 'Create New Direflow Setup'
2. Open the browser console.
3. See warning 'File is not found: C:pathtoyourdireflowfoldersrcindex.js'
4. Notice that the expected log output from the main index file is missing (e.g.,

[2020-05-07 21:56] Silind commented on #134
Hi @mrnazarod
Thank you for creating this issue.

May I assume that your working on a Windows machine?

[2020-05-08 11:13] orjank11 opened #135 "Legacy octal literals are not allowed in strict mode"
**Legacy octal literals are not allowed in strict mode**
SyntaxError: C:\Temp\134eeaf9dc82c31b\Client\node_modules\direflow-scripts\dist\main.js: Legacy octal literals are not allowed in strict mode (69:25)

We uses a GUID as versioning. Sometimes it will start using numbers in the folder structure.

**To reproduce**
Steps to reproduce the behavior:
1. Put any number as in front of one of yours fo

[2020-05-08 11:45] Silind commented on #135
Hi @orjank11
Thank you for creating a well-structured bug report :+1:

We will look into this.

[2020-05-08 15:05] mrnazarod commented on #134
Yes @Silind, I'm on Windows 10.

[2020-05-11 23:57] somsharp opened #136 "High severity vulnerability - component governance"
We are using direflow component in one of our production app. In our build pipeline component governance detected 2 security 'High' severity. Can you please look into this:
component: direflow-component 1.0.26

Description: Affected versions of yargs-parser are vulnerable to prototype pollution. Arguments are not properly sanitized, allowing an attacker to modify the prototype of Object, causing t

[2020-05-12 00:02] yananym opened #137 "Place css files at the top of the component, when defined in plugins"
**Is your feature request related to a problem? Please describe.**
We have a heavy css library that we include in each component. we use it as a Direflow plugin. This CSS file takes some time to load, and since it is included at the and of the component, it is visible on the screen (css flickers and assembles in few ms)

**Describe the solution you'd like**
If you could separate plugins that need

[2020-05-14 20:45] dvselva commented on #134
Hello, I am also getting the similar error. it runs fine in development mode from IDE. But when i bundle this and include on webpage, i am getting the error
direflowBundle.js:1 File is not found: C:Userssed9089DesktopSelvaDireflowwebcomp-componentsrcindex.js

[2020-05-15 05:23] Silind commented on #136
Hi @somsharp
Thank you for creating this issue.

Seems like you are using a quite older version of direflow (v. 1.0.26).
I would recommend updating to the newest version (3.4.13).
There is going to be breaking changes, but you can read more about it in [this release note statement](https://medium.com/@simonlhoiberg/direflow-v3-4-0-release-notes-60e1caff3805).
In the bottom of the article, you will

[2020-05-15 05:23] #136 closed

[2020-05-15 16:33] Elindalyne opened #138 "Direflow-cli does not work at all in Windows shell environments"
**Describe the bug**
Direflow CLI does not work in windows shell environments. It will crash out when renaming components

**To reproduce**
Steps to reproduce the behavior:
0. Open cmd, powershell, etc.. in Windows
1. npm install -g direflow-cli
2. direflow create
4. fill out name, description, language, module
4. See error
[code]

**Expected behavior**
Successful creation of my project

**Package

[2020-05-17 15:31] Silind commented on #138
Hi @Elindalyne
Thank you for creating this issue.

We will investigate as soon as possible.

[2020-05-18 09:25] lioshi opened #139 "Documentation of direflow web component with Docz?"
Hi,

I see that direflow.io use Docz.
Is there a meaning to use Docz to document webcomponent created with Direflow like it work with React Components?

[2020-05-19 05:13] Silind commented on #139
Hi @lioshi

Docz is simply a great Gatsby theme to get started writing documentations fast :blush:
But we don't use any playground capabilities or the like, if that's what you're thinking.
So there is no specific reason that it's Docz, other than it being a cool theme that's easy to use with Gatsby :+1:

[2020-05-19 06:44] lioshi commented on #139
Yes thanks. If it can be useful for someone, a webcomponent from direflow in Gatsby/Docz

[code]

[2020-05-20 05:07] Silind commented on #139
Thanks for the example code :slightly_smiling_face:

[2020-05-20 05:07] #139 closed

[2020-05-22 16:09] Silind commented on #137
Hi @yananym
Thank you for creating this issue :slightly_smiling_face:

I will have to kindly ask for some clarification on this feature request.

When you say that you use the css library as a Direflow plugin, I assume you are using the `external-loader` plugin to apply a css file? Is that correct?

If that is the case, I'm a little confused with what you mean by 'the top' and 'the end' of the com

[2020-05-23 14:00] Silind commented on #137
These changes is included in v. 3.4.14
PR: https://github.com/Silind-Software/direflow/pull/140

See more on our webpage:
https://direflow.io/plugins#external-loader

[2020-05-23 14:00] #137 closed

[2020-06-01 10:51] saraivinha85 opened #141 "Material-UI popover components with rootRef are not styled"
**Describe the bug**
The documentation says to use RootRef with popover components.
However, the components are generated without any CSS style.

**To reproduce**
See the example:
https://github.com/saraivinha85/material-css-bug

**Expected behavior**
Components are styled

[2020-06-01 11:45] jonessi commented on #120
The root cause for this is how requirejs co-operates with UMD packages and how Direflow does the lazy loading. It's not a bug in this project but rather a way the requireJS works.

E.g. the next script results window.React to be undefined if requireJs is present.

`<!DOCTYPE html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script>
    <script type

[2020-06-02 06:06] Silind commented on #141
Hi @saraivinha85
Thank you for creating this issue and a reproduction example 👍

@nicocunin, maybe you know what is going on here?

[2020-06-03 07:48] saraivinha85 commented on #141
@Silind Looks like it's not a direflow issue.
The mui component needs to be controlled. After adding the open props:

open={open}
onClose={handleClose}
onOpen={handleOpen}

The rootRef starts working and the component is styled.

Thanks!

[2020-06-03 07:50] Silind commented on #141
Alright, great to hear that 😄
Thanks for letting us know. I'm closing this issue again 👍

[2020-06-03 07:50] #141 closed

[2020-06-05 08:41] lioshi opened #142 ""npm publish" on private repo gitlab?"
Hi,
I want to use my private gitlab repo as a NPM point and use it like this:

[code]

An idea?

PS: I allready make this "NPM install" with React component Lib repo on gitlab made with https://github.com/transitive-bullshit/create-react-library

[2020-06-05 19:49] Stevemoretz opened #143 "Redux example"
Hi since I couldn't find anything in the issues I'm going to ask this here.Would anyone tell me if it supports redux between different webcomponents?If yes please provide an example.Thanks.

[2020-06-05 21:20] Silind commented on #143
Hi @Stevemoretz

Yes, you can definitely use Redux across different Web Component, but it may work a little differently than you're used to with React.

You want to use the 'regular' Redux as described here: https://redux.js.org/introduction/getting-started

In order to make the Web Components share the store, you need to hook up the Web Components with your store, rather than the underlying React

[2020-06-07 17:58] vijay-kumar-singh opened #145 "copy index.html file from public folder to build folder"
Hi
I want to run generated web component on server. So while running direflow build script, i want to copy index.html from public folder to build folder so that build folder can to uploaded to any server and server can serve index.html which include compiled js file.

[2020-06-09 11:15] hmurt opened #146 "[question] How to include fonts from npm package"
Hi, and thank you for this great tool.

My problem is that font files are not included in the build.

I have a direflow component where I need to import a style library from npm. In my App.jsx I have:
[code]
I peeked inside `node_modules/my-style-package/typography.scss` and there are references to font files such as:
[code]
In development mode (`npm start`) the fonts are loaded from `http://local

[2020-06-11 11:07] hmurt commented on #146
I managed to go around this problem by hosting the style library in a separate CDN and including the fonts there. Then I load the css using the Direflow external-loader plugin.

[2020-06-11 18:31] #134 closed

[2020-06-11 18:36] Silind commented on #138
This is fixed in v. 3.4.15

[2020-06-12 05:55] Silind commented on #145
Hi @vijay-kumar-singh
Thank you for creating this issue 🙂

We'll take this as a feature request and consider it in a feature version 👍

[2020-06-12 05:59] Silind commented on #142
Hi @lioshi
I don't think this is Direflow specific - you need to configure your package.json to use your private package registry, just as you would any other project.

Then you can add an entry `"main":"build/direflowBundle.js"` if you want to have this being your entry point of the package 🙂

[2020-06-12 06:00] Silind commented on #146
Hi @hmurt
Sorry for the late reply.
Great you figured it out - the `external-loader` plugin was exactly what I'd suggest as well.

I know this is a bit cumbersome - we are looking into a way to handle fonts in a more general way 👍

[2020-06-12 06:00] #146 closed

[2020-06-12 09:01] Silind commented on #143
I added an example on the website as well:
https://direflow.io/guides-and-tips#direflow-and-redux

[2020-06-12 09:01] #143 closed

[2020-06-13 08:28] #67 closed

[2020-06-13 08:29] #54 closed

[2020-06-13 18:05] lioshi opened #148 "Import react component from npm package with materialUi dependencies"
Is there a way to make it work?
It works but css style doesn't here...

[2020-06-13 22:50] lioshi commented on #142
Ok, thks !

[2020-06-15 07:36] Silind commented on #148
Thanks for creating this issue 👍
@nicocunin perhaps you know what's going on here?

[2020-06-18 07:57] saraivinha85 opened #149 "Flatpickr not styled/working"
**Describe the bug**
Flatpickr is a date picker that works fine with React but with Direflow the styling is not applied making the component unusable.

**To reproduce**
[code to reproduce](https://github.com/saraivinha85/flatpickr-direflow)

**Expected behavior**
The picker should work

[2020-06-19 07:55] Silind commented on #149
Thanks a lot, @saraivinha85!
Always nice with reproducible examples! 💪

We'll look into it 👍

[2020-06-24 05:44] Silind commented on #125
Moving this back to todo, so this one is again up for grabs 😄

[2020-06-24 05:44] Silind commented on #126
Moving this back to todo, so this one is again up for grabs 😄

[2020-06-24 05:44] Silind commented on #127
Moving this back to todo, so this one is again up for grabs 😄

[2020-06-24 05:50] #142 closed

[2020-07-07 14:33] Schrammel commented on #120
I also have this problem, @jonessi do you have a workaround?

[2020-07-07 14:51] jonessi commented on #120
@Schrammel we ended up using the offline configuration option which works with requireJS but does increase the bundle size a bit

[2020-07-08 21:51] mckennasoftware commented on #115
In my case my global Node_Modules had a WebPack folder in it that was causing this same issue. So the steps given by npm weren't working for me.

Once I deleted the folder npm run start worked as expected.

If you are having trouble with the given solution I recommend checking your global Node_Modules

[2020-07-09 01:44] icymaru opened #150 "Using imported css file"
I'm using a component library which requires me to import a css file explicitly. Something like this:

[code]

So in order for the CustomButton to work, it needs the css file. Is this possible using direflow?
Btw, very cool framework. Thanks for sharing this! :))

[2020-07-10 05:38] Silind commented on #150
Hi @icymaru

Yes, this is possible, but you need to explicitly pass the styles into the `Styled` wrapper component as described in [our documentation](https://direflow.io/styling) :blush:

[code]

[2020-07-11 06:45] icymaru commented on #150
Oh yeah your right and I can set the **scope** to false... :)
Thanks for answering my questions :)

[2020-07-11 06:45] #150 closed

[2020-07-13 08:38] BastianMa commented on #149
I noticed that with datetimepickers when you have two same components in one page, only one webcomponent get the datetimepicker-styles

![image](https://user-images.githubusercontent.com/45563198/87282805-ed44e100-c4f4-11ea-9afe-e3cc9117fa77.png)

[2020-07-14 23:24] johnmcase opened #151 "Support Dart Sass"
**Is your feature request related to a problem? Please describe.**
Currently direflow is compiling sass with lib-sass.  I would like for it to use the new dart sass (npm 'sass' module) so that I can take advantage of the new goodies in there that are not  available in lib-sass (@use and @forward specifically)

**Describe the solution you'd like**
Either direflow always uses dart sass out of the bo

[2020-07-15 05:41] Silind commented on #151
Hi @johnmcase
Thank you for creating this issue.

It makes very good sense - that's definitely something that we'll be looking into!

[2020-07-17 14:49] johnmcase commented on #151
I did verify that all the cypress tests still pass:

![image](https://user-images.githubusercontent.com/314819/87799409-cba86a00-c812-11ea-9cf0-8b890e470012.png)

[2020-07-21 16:51] johnmcase commented on #4
Is there any way to implement this when the component has `useShadow` set to false?

[2020-07-29 10:58] Silind commented on #151
My apologies for the late response.

Awesome work, @johnmcase!
I verified that everything works as expecting.
Getting this merged in now 😊

[2020-07-29 11:04] #151 closed

[2020-07-30 15:14] assignments-tataaig opened #154 "Unable to run "npm run build:lib" command"
**Describe the bug**
A clear and concise description of what the bug is.

**To reproduce**
Steps to reproduce the behavior:
1. Build web-component using npx direflow-cli create command
2. Once command is created run "npm run build:lib" command it will throw below error

"Building React component library...
events.js:292
      throw er; // Unhandled 'error' event
      ^
"

**Expected behavior**
Sh

[2020-07-30 17:27] Silind commented on #154
Thanks for creating this bug.
We'll investigate :+1:

[2020-07-31 14:05] brandondv opened #155 "Styled components losing styling"
**Description**
When an attribute changes on the web-component externally, the styled component will render without the proper styling.
When inspecting the element, it has gotten the right property in React, and it got a new styled-component class. However that new class has no css rules in the shadowDOM. So it seems that those styling rules aren't updates accordingly.

When the React component ch

[2020-07-31 18:50] justinlnx commented on #103
What's the actual fix for this problem. I'm also getting the same error after loading the compiled direflowBundle.js into an angular project.

[2020-08-01 09:05] Silind commented on #155
Hi @brandondv
Thank you for creating this bug report, and thanks a lot for creating a reproducible example!
It makes it way easier for us to investigate :blush:

We'll take a look at this, as soon as possible.

[2020-08-06 09:36] ScreamZ opened #156 "Event nesting in the three"
Hello, not sure if it's a bug that why I'm asking it.

I would like to use a custom event emitter with `const dispatch = React.useContext(EventContext);`

Can I emit an event from a nested component, or should it be at the component register by direflow directly? And I should bubble it on my own to it? The doc isn't clear on that

Thanks,
Regards

[2020-08-08 08:20] Silind commented on #156
Hi @ScreamZ

You can dispatch the event from anywhere you want in the React component tree, when using `EventContext`.
You don't need to worry about bubbling since the event will actually be emitted from the Custom Element, and not React.
The 'dispatch' function just "hands over" the event to the Custom Element which then emits it, so it doesn't actually bubble all the way through the React compon

[2020-08-08 11:13] ScreamZ commented on #156
Perfect, I was expecting such behavior ;)

[2020-08-08 11:13] #156 closed

[2020-08-13 04:33] Silind opened #157 "Configure which static files to include in build"
Include a configuration that allows you to specify which static files should be included in the build.
E.g. sourcemaps, css-files, images, etc.

[2020-08-13 04:35] Silind opened #158 "The same font is added multiple times"
When using the font-loader plugin, font resources are added multiple times to `head` tag, if multiple web components exist.

**Expected**
If the same font is required for multiple components, it should only be added once.

[2020-08-13 05:19] #158 closed

[2020-08-13 09:13] Silind commented on #154
Hi @assignments-tataaig
I haven't been able to reproduce this bug.
Can you provide some more context?

- Are you using TypeScript or JavaScript
- Does the file `component-exports.js` correctly exist in `src` folder?
- Does it correctly export the components you want to include?
- What happens if you install `direflow` globally instead of using `npx`?

Thank you.

[2020-08-17 16:57] say25 opened #159 "VSCode Launch.JSON"
**Is your feature request related to a problem? Please describe.**
It would be awesome if the direflow CLI provided a `launch.json` to build and debug direflow WebComponents out of the box.

**Describe the solution you'd like**
Ideally the CLI would provide a `launch.json` configuration that allows launching and debugging + attaching to a direflow project.

**Describe alternatives you've considere

[2020-08-17 19:09] say25 commented on #159
I got this working with the below `launch.json`. I intentionally have it not open a browser in the `yarn start` step to avoid having two instance going at the same time

[code]

[2020-08-18 17:29] Silind commented on #159
Awesome, thanks a lot for the template :smile:
I'll definitely look into this, it sounds like a great resource!

[2020-08-18 18:08] say25 commented on #159
I don’t mind opening a PR for it

[2020-08-19 13:38] Silind commented on #126
This feature is considered redundant for the moment.

[2020-08-19 13:38] #126 closed

[2020-08-20 18:21] say25 opened #162 "Support Shadow and Not-Shadow Simultaneously"
**Is your feature request related to a problem? Please describe.**

I am building a Web Component for a project that currently supports IE11. As we likely know, IE11 doesn't support ShadowDom.

**Describe the solution you'd like**

Ideally, direflow could be configured with a toggle to build a `direflowBundle.js` as well as a `direflowBundleWithoutShadow.js`. Then in the caller, I can selectively

[2020-08-27 01:39] JasonPaape commented on #126
@Silind,

Why is this closed and considered redundant? It seems that if I pass in a prop via an attribute that I need to use all lower case for my prop, for example:

App.defaultProps = {
  componenttitle: "My Component Title"
}

<web-component componenttitle="New Title"></web-component>

So when componenttitle changes, my useEffect in my component gets the change. If my prop is componentTitle and

[2020-08-27 13:18] romane-echino commented on #154
Hi! I'm having the same problem. I just ran "direflow create" on an empty project folder and I'm having the same issue. here is my configuration:

Are you using TypeScript or JavaScript : **Typescript**
Does the file component-exports.js correctly exist in src folder? **There is a typescript one inside source folder (src/component-exports.ts)**
Does it correctly export the components you want to i

[2020-08-29 20:15] Silind commented on #154
Thanks a lot, @romane-echino :+1:
This helps a lot. It seems to be an issue with Webpack on Windows.
We'll look into this as soon as possible!

[2020-08-31 19:42] onhate opened #163 "direflow-scripts build return exit code 0 on failure"
**Describe the bug**
direflow-scripts are not returning proper exit code on failure, I've noticed that build command for example spawns a child process but does not listens to exit code, for example:

the code now:
[code]

how it should be:
[code]

**To reproduce**
Steps to reproduce the behavior:
1. Create a new component with `direflow create` and run `npm install` or `yarn install`
2. Open `App

[2020-08-31 19:43] onhate commented on #163
I'll raise a PR with suggested changes

[2020-09-01 09:43] Silind commented on #163
Awesome, @onhate :raised_hands:
Nice catch!

We'll review as soon as possible!

[2020-09-01 16:58] johnmcase commented on #125
Should this be closed now that it was released in 3.5?

[2020-09-01 17:14] Silind commented on #159
Sorry for the late reply, @say25
A PR would be awesome :muscle:

[2020-09-01 17:15] Silind commented on #125
Ahh, thank you!
Yes, this needs to be closed now :smile:

[2020-09-01 17:15] #125 closed

[2020-09-01 17:16] #145 closed

[2020-09-01 17:16] #127 closed

[2020-09-01 20:03] charleshimmer commented on #145
I second this, the `build` step does seem to be lacking without support for hosting the exported web component.  If you look at what CRA does for build it gives you everything you need to run the build along with the build (index.html linked to the built JS and CSS).

[2020-09-02 07:05] Silind commented on #145
Hi @vijay-kumar-singh and @charleshimmer
As of v3.5 you can now achieve this by using the `emitIndexHTML` in the direflow-configuration.json file.
You can also use `emitAll` which will emit all files from CRA.

See more here:
https://direflow.io/configuration

[2020-09-02 09:19] sathishkrishnan20 opened #166 "How to Override Node_ENV while building or Serving the web component"
I want specify Custom Value for NODE_ENV as well as  i want to add set custom env variables variables, and i need to access through process.env.<ENV_VARIABLE>?

How Can we do that?

[2020-09-02 12:20] #163 closed

[2020-09-02 12:24] Silind commented on #166
Hi @sathishkrishnan20 :wave:
Thanks for creating this issue.

Direflow is using CRA "under the hood", so env variables follow the same pattern as with CRA.
See how to use it here:
https://create-react-app.dev/docs/adding-custom-environment-variables/

TL;DR
Prefix your env variables with `REACT_APP`.
E.g. `REACT_APP_MY_CUSTOM_VARIABLE`.

Currently, it is not possible to override NODE_ENV.
Is there

[2020-09-02 12:25] #157 closed

[2020-09-02 12:28] charleshimmer commented on #145
Ah thanks. I found `emitIndexHTML` did in fact emit the index.html file, but it was linked to CSS files that were not produced. I actually they were but were then deleted. If I use `emitAll` it works like I expected.

[2020-09-02 15:05] ivoiv opened #167 "Passing down children - Uncaught TypeError: child.cloneNode is not a function"
I want to have a React component that i use like this
```<Button>Hello!</Button>```

and a web-component that i use like this
```<some-button>Hello!</some-button>```

So I made this component

[code]

But then I get an `Uncaught TypeError: child.cloneNode is not a function` error because direflow seems to expect children to be a node/array as it tries to `.map` through it.

Then I get past this by

[2020-09-02 20:42] sathishkrishnan20 commented on #166
Thanks @Silind.  I thought to add the condition by NODE_ENV if we don't have an option to add Custom Variable.
now I can manage the same by adding a custom ENV variable.

thank you closing the Issue

[2020-09-09 07:01] Silind commented on #167
Hi @ivoiv
Thanks for creating this issue.

Yes, indeed children are expected to be DOM Nodes.
With Web Components, we are able to pass children, but we need to use slotted elements.
See an example here in our [cypress tests](https://github.com/Silind-Software/direflow/blob/master/cypress/test-setup/public/index.html#L14-L16).

You can also read more about how slotted elements work [here](https://d

[2020-09-12 00:02] johnmcase opened #170 "Make build tree-shakeable"
**Is your feature request related to a problem? Please describe.**
Currently the build produced by direflow does not allow the consumer to fully tree-shake out only the files that are being used.  Specifically this is a problem with any 3rd party libraries that the Direflow components depend on.

If the build is created with `split=true` and `vendor=false` then each component file contains all of

[2020-09-14 09:33] mfreville opened #171 "Are we able to load custom fonts ?"
I have to load custom font into the builded web component bundle.

I already tried to :
- Follow this documentation : https://github.com/typekit/webfontloader#custom (NOK)
- Add the custom fonts through material ui : https://material-ui.com/customization/typography/#self-hosted-fonts (NOK)
- Add the fonts (WebFont with css file containing @Font-Face definition) in the index.html from public folder

[2020-09-15 03:22] Silind commented on #171
Hi @mfreville

Yes, that is correct.
Direflow compiles your bundle into a single js-file, and if you need external files of any kind included, you will need to serve this along with your bundle, and reference them using `external-loader` plugin :blush:

[2020-09-15 03:33] Silind commented on #170
Hi @johnmcase
Thank you for creating a very thorough and well-formulated issue.

Yes, the scenarios above are all true.
We iterated over the goal of making the output bundles smaller, multiple times.
The biggest measure we have taken thus far is to asynchronically load the biggest dependencies, React modules and the Web Component polyfills, thus making sure that the bundle is not render-blocking w

[2020-09-15 04:50] Transfusion opened #172 "WebComponent Properties - Support for the experimental syntax 'decorators-legacy' isn't currently enabled"
I am trying to pass an attribute into the WC generated by Direflow like `<awesome-component componentTitle="New Title"></awesome-component>`, according to these instructions:
https://direflow.io/properties

My root component is a class component, so I'm trying to use the `@DireflowConfiguration` decorator. `npm run babel-plugin-transform-decorators-legacy --dev` fails because there is no such scri

[2020-09-15 08:34] mfreville commented on #171
Thanks for your answer :)
I will follow this way.

[2020-09-15 08:34] #171 closed

[2020-09-16 03:25] Silind commented on #172
Hi @Transfusion
Thanks for creating this issue.

We will look into this shortly.

[2020-09-18 15:09] romane-echino commented on #154
Any updates? Sorry for disturbing

[2020-09-19 11:35] benknight opened #173 "Unable to import SVG directly as React components"
**Describe the bug**
Unable to import SVG directly as React components.

**To reproduce**
Steps to reproduce the behavior:
1. `import { ReactComponent as Icon } from './icon.svg';
2. See error:
[code]

**Expected behavior**
It should work equivalent to react-scripts

[2020-09-20 04:14] Silind commented on #173
Hi @benknight
Thank you for creating this issue.

I am not able to reproduce this.
When I try, it works out-of-the-box, just as expected.

Can you provide some more information?
If you can post a code snippet on how you use the SVG in React, and a code snippet of how the SVG file looks like.

Thank you.

[2020-09-20 14:39] Mrakorus commented on #115
Try "npm install webpack@4.42.0 --save-dev" it worked for me.

[2020-09-21 09:32] merlox commented on #115
To fix that issue in my case I had to uninstall webpack GLOBALLY and then install the required version globally.

1. npm uninstall -g webpack
2. npm i -g webpack@4.42.0

[2020-09-22 14:24] 0815Strohhut opened #174 "Property value "empty string" is converted to "true""
**Describe the bug**
When passing a property to the web component as an empty string, the string is converted into a boolean "true".
[code]
Passing this to my react-component, I get the value 'true' as a boolean for that property. In version 3.4.13 everything worked as expected, the value of myProperty was an empty string. But when upgrading to 3.5.1 we noticed the issue.

**Expected behavior**
Th

[2020-09-23 03:41] Silind commented on #174
Hi @0815Strohhut
Thank you for creating this issue.

Yeah, I see what the problem is here.
It is an unfortunate side effect to this issue: [#125](https://github.com/Silind-Software/direflow/issues/125) as was indeed introduced in version 3.5.

This should be considered a bug, yes.
We'll make sure to look into this as soon as possible.

[2020-09-23 21:28] ramilabbaszade commented on #115
Thanks. It worked for me and permanently fixed

[2020-09-30 16:56] Silind opened #175 "Add questions for VSCode Launch.json as part of CLI flow"
### Description
We want to add the option for a pre-made launch file for VSCode's inbuilt debugger.
It should be a part of the CLI flow when running the `direflow create` command.

The question should go as follows:
"Do you want to add a 'launch' file for VSCode's debugger?"
- Yes
- No

If chosen "yes", the launch file should be included in the boilerplate.
If chosen "no" the launch file should be

[2020-09-30 16:57] Silind commented on #159
We're gonna carry on with this feature [here](https://github.com/Silind-Software/direflow/issues/175).

[2020-09-30 16:57] #159 closed

[2020-09-30 16:58] Silind commented on #175
This task is up for grabs during Hacktoberfest :raised_hands:

If you want to work on this task, please claim it here in the comments.
Feel free to ask any questions here as well :blush:

[2020-10-02 15:35] Manaswini1832 commented on #175
Hey Simon! I'd like to work on this issue. Could you assign it to me?

[2020-10-02 15:39] Silind commented on #175
That's great! :star_struck:
There you go! Let me know if you have any questions!

[2020-10-02 15:44] Manaswini1832 commented on #175
Sure! Thank you!

[2020-10-10 15:08] IsoftTech commented on #115
This is sure going to work

[2020-10-15 09:21] Psvensso opened #178 "Bundle is injected into Head causing strange compat behavior with some libs"
**Is your feature request related to a problem? Please describe.**
We are using an external UI library, they are assuming document.body are available during eval execution.
This can ofcourse be considered bad practise, i will create a bug there as well so that they null check it, but my guess is that more libs will have this problem.
The root cause is that direflow injects the dev bundle into the

[2020-10-21 06:26] Silind commented on #178
Hi @Psvensso
Thank you for creating this issue.

Yes, originally this modification was introduced in regards to how web-components work.
As you point out, parts of the code will need to be run before the custom elements are attached to the DOM.

However, after we introduced asynchronous loading of the web-component polyfills, there's no reason that the server bundle cannot be injected into `body`

[2020-10-21 06:32] patrickklze opened #180 "Component styling issue in direflow"
i am trying to run JsonForm(https://jsonforms.io/) in React Direflow and faced an issue where the form is generated properly but somehow the design and user interface is messed up.
I have placed the project in a public github repo, here is the link https://github.com/patrickklze/tryingJsonformDireflow.git

The below screenshot is what it supposed to look like.
![Uploading Screenshot 2020-10-21 at

[2020-10-21 07:24] Silind commented on #180
Hi @patrickklze
Thanks for creating this issue.

It seems like it's the styles from material-ui that are missing.
In your public repo, I can see that you're not using the [material-ui](https://direflow.io/plugins#material-ui) plugin.
Try to use that.

Also, check out these tips on how to work with material-ui in Direflow :blush:
https://direflow.io/guides-and-tips#tips-for-material-ui

[2020-10-21 07:29] patrickklze commented on #180
Hi @Silind,

I have previously tried adding in the plugin too but it didn't work.

`import { DireflowComponent } from 'direflow-component';
import App from './App';

export default DireflowComponent.create({
  component: App,
  configuration: {
    tagname: 'testingjsonform-component',
  },
  plugins: [
    {
      name: 'font-loader',
      options: {
        google: {
          families: ['Adven

[2020-10-21 07:43] Silind commented on #180
Hmm alright!
Let me take a look, and I'll get back to you here :slightly_smiling_face:

[2020-10-23 18:40] Silind opened #181 "Update to react-scripts 4"
### Description
A new major version of react-scripts has been release.

### AC
Update react-scripts from 3.4.x -> 4 in the direflow templates.

### Additional context
Read more about react-scripts 4 here, and see how to migrate:
https://github.com/facebook/create-react-app/blob/master/CHANGELOG.md#400-2020-10-23

[2020-10-24 20:41] gverduci commented on #173
Hi,
same problem here.

I solved using svgr client to create a component to use instead of the svg file:

npx svgr --icon  ./logo.svg > ./SvgLogo.js

Giuseppe

[2020-10-26 01:56] patrickklze commented on #180
Hi @Silind , I have also found out that not just the ui design having issues.
it looks like the dropdown list of this jsonform in direflow has some issues as well

![Screenshot 2020-10-22 at 9 21 14 AM](https://user-images.githubusercontent.com/31715990/97126345-8977b880-1771-11eb-98da-d5883d52ca90.png)

[2020-10-27 19:51] vijay-kumar-singh opened #183 "running app in debug mode: pause on promise rejection - DOMException: Failed to execute 'define' on 'CustomElementRegistry'"
**Describe the bug**
Whenever i run direflow app on debug mode, debugger get paused with following error/exception
pause on promise rejection
DOMException: Failed to execute 'define' on 'CustomElementRegistry': the name "my-component" has already been used with this registry.

**To reproduce**
Steps to reproduce the behavior:
1. Run direflow app in chrome browser - open debugger by right click bro

[2020-10-30 04:46] quanvu1204 opened #184 "Some css properties do not work correctly."
**Describe the bug**
Some css properties do not work correctly.

**To reproduce**
Steps to reproduce the behavior:
1. Install react-toastify
2. Open '....'
3. Build '....'
4. See error

**Expected behavior**
toastify component (has css position: "fixed") will inject to body (can scroll) of document, not in web-component

**Package Manager:**
To install Direflow, I used react-toastify (npm / yarn /

[2020-11-01 19:02] kedrigen commented on #154
Same issue here. Any updates/workarounds?

[2020-11-02 21:53] superandrew commented on #173
I have the same exact problem. In fact I am unable to import svg in direflow after migrating an app in which svg worked as expected.

if I try this way `import { ReactComponent as logo } from "../assets/img/logo.svg"` I have the same error of @benknight

[2020-11-03 02:23] devgig opened #185 "setAttribute is not setting a property correctly in TypeScript"
**Describe the bug**
Your example shows component.filterColumn = value but that is not allowed in TypeScript by default and I should be able to do setAttribute().  I am calling component.setAttribute("filterColumn", value);  and I am seeing this in props.filterColumn.  The value comes from another component and it is logging out correctly but when the property is set with setAttribute I am getting

[2020-11-03 13:09] martinbianchi opened #186 "Support for Preact"
Sometimes React is too big to create a simple web component. What is happening to me is that React bundle is greater than my widget bundle.

It would be great if  we can use all the benefits of direflow with another lib like Preact that has a lower bundle size.

[2020-11-03 20:39] devgig commented on #185
I was able to figure out a work around.
[code]
I can now set the property this way...

[code]
but TypeScript still complains so trying to figure out how to create the contract correctly for my Web Component.  If I added it as an attribute directly to the element it gets messed up per my comments.

[2020-11-03 21:09] devgig commented on #185
finally got it.
[code]
Now when I set the property
[code]

[2020-11-03 21:09] #185 closed

[2020-11-04 05:02] Silind commented on #186
Hi @martinbianchi
Thanks for creating this issue.

As a default, the React bundle will not be included in the Direflow bundle but instead loaded asynchronously when the Direfle bundle is consumed.

But you are right, React needs to be loaded in order for Direflow to work.

We are looking into ways of "compiling" the Web Components using SSR, so that the React bundle can be stripped at runtime alto

[2020-11-04 05:02] #186 closed

[2020-11-04 05:04] Silind commented on #184
Hi @quanvu1204
Can you please provide some more information?
Kindly fill out the entire template above. Then it'll be way easier for us to debug it.
Thanks.

[2020-11-04 05:05] Silind commented on #183
Hi @vijay-kumar-singh.
Thanks for creating this issue.

We'll be looking into this.

[2020-11-04 13:36] martinbianchi commented on #186
Thanks for the feedback @Silind and this awesome library

[2020-11-04 13:48] vijay-kumar-singh opened #187 "Material-UI select menuitem generated outside of web component"
**Describe the bug**
Material-ui select menuitem is being displayed outside of web component. I have updated my code as per tips to use material-ui
https://direflow.io/guides-and-tips#tips-for-material-ui
but still issue is not getting fixed.

**To reproduce**
Steps to reproduce the behavior:
1. Install 'add material-ui plugin in Plugins section of index.js'
2. add script to use material-ui select

[2020-11-05 05:45] Silind commented on #187
Hi @vijay-kumar-singh
Thanks for creating this issue.

We'll take a look as soon as possible.

[2020-11-06 06:51] patrickklze commented on #180
Hi @Silind , Just checking in if you have any advice on the issue i face?
I have been trying few methods and also on different other open-source libraries like DHX spreadsheet and gantt chart and i found out that they do have the similar kind of problem where "pop-ups" are not styling properly once put in direflow but working perfectly fine in normal react.

Hope to hear from the team soon as i th

[2020-11-11 12:14] DavidC0V opened #188 "Prevent direflow from loading React from cdn"
**Describe the bug**
I'm building a component using the externals option in webconfig:
[code]

But because I define `window.React17` and not `window.React` direflow loads them from cdn.
Didn't see this mentioned anywhere, looked at the code.
Maybe an option should be created or webpack config should be checked

**To reproduce**
Steps to reproduce the behavior:
1. Add react and react-dom as externa

[2020-11-12 07:38] patrickklze commented on #180
Hi Team.

Just checking in again if there is any advice on this issue? 🙂

[2020-11-13 22:34] superandrew opened #189 "Do not import `@jest/globals` outside of the Jest test environment"
**Describe the bug**
A clear and concise description of what the bug is.
I get an error stating Do not import `@jest/globals` outside of the Jest test environment
**To reproduce**
Steps to reproduce the behavior:
1. Install direflow
2. mock a module in jest (e.g. jest.mock("axios"))
3. run test in jenkins
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2020-12-04 09:53] merajcal opened #190 ""emitSourceMap": true. generatesempty source map file"
**Describe the bug**
"emitSourceMap": true does not emit soure map

source map file has following incorrect content

{"version":3,"sources":[],"names":[],"mappings":"","file":"direflowBundle.js","sourceRoot":""}

demo application
https://github.com/merajcal/direflow-lit-example/tree/master/direflow-lit

**To reproduce**
Steps to reproduce the behavior:
1. Install '...'
2. Open '....'
3. Build '...

[2020-12-09 10:36] KomalPandya opened #191 "How to publish direflow component as npm package?"
I have developed a web component in TypeScript using Direflow. While setup, I got a question "Do you want this as an NPM module?" - I had selected "Yes".
Can you tell me how to publish the component as an npm package or how to access the same?

[2020-12-10 08:54] Psvensso commented on #191
This is nothing Direflow handles for you, the cli just prepares some handy presets.
If you create two packages, one with "Npm module: true" and one "Npm module: false" you can see in the package.json that some things are different.

Main differences is that a "package" that shall be distributed on npm requires a main file. That's added to the package.json and in a "none npm module" the private pro

[2020-12-23 09:47] darshna09 opened #193 "Custom font not loading in react direflow application"
I have created a javascript direflow application. I am trying to load a local font but haven't been able to. Below are the details and code snippets I have applied.

![image](https://user-images.githubusercontent.com/41057192/102983233-c540bb80-4531-11eb-9ece-7d0c8e854041.png)

`font.css`
[code]

`direflow-components/testing-component/index.js`

[code]

`App.css`
[code]
The font files doesn't load

[2020-12-23 15:42] imikemiller commented on #33
I am seeing this issue on a new Direflow project. When I include my styles the CSS is not stringified properly and ends up in the page as below.
![Screenshot 2020-12-23 at 16 41 04](https://user-images.githubusercontent.com/24856374/103013555-a8aa8080-453d-11eb-95d1-4fdc24b2ebad.png)
I followed the same steps but using the `react-image-lightbox` package and importing styles from there. Any help mu

[2020-12-24 08:57] darshna09 commented on #193
It is working.

Removed `font-loader` plugin from `direflow-components/testing-component/index.js` and removed quotes from the `font-family` property that is the font name.

 Changed `font-family: 'MyLocalFont';` to `font-family: MyLocalFont;`

[2020-12-24 08:57] #193 closed

[2021-01-04 20:36] Stevemoretz opened #194 "Popover always at top left corner ignores anchor"
**Describe the bug**
I've read the popover material ui section on the website and used the example.The example itself doesn't work if giving a little bit of marginTop that would be obvious.

**To reproduce**
Steps to reproduce the behavior:
1. Install direflow + latest version of material ui core

use this code from website ( I just added some marginTop)

[code]

**Expected behavior**
The popover

[2021-01-04 20:48] Stevemoretz commented on #194
Found it :
https://material-ui.com/api/root-ref/

Have to use :
`const domRef = React.useRef();`
You forgot to update your docs.

[2021-01-04 20:48] #194 closed

[2021-01-04 20:49] Stevemoretz commented on #187
https://github.com/Silind-Software/direflow/issues/194#issuecomment-754210213
I believe I found your answer.

[2021-01-05 19:14] Stevemoretz commented on #194
Even though it worked I couldn't get onChange on input working when put in the popover.

So for now I disabled shadowRoot and disabled material ui plugin and now it's working just fine.

[2021-01-08 07:03] vjhbtigoyal commented on #154
Any updates on this? 2 of my team members are also facing same issue.

[2021-01-08 07:11] #191 closed

[2021-01-08 07:29] KomalPandya opened #195 "Web component not re-rendering on props update"
**Describe the bug**
The web component, created in TypeScript, takes a set of properties as input. These properties are set via App.defaultProps in the index file. I'm rendering this component as an npm package via another project. The component fails to detect updates in the props and hence does not re-render.

**To reproduce**
Steps to reproduce the behavior:
1. Render the component with some in

[2021-01-10 22:30] glajan-at-KAN opened #196 "Enable Hot Module Reloading?"
Is there a way to enable Hot Module Reloading (HMR)?

Currently any changes in the code causes a full reload of the page.

[2021-01-12 14:12] BastianMa opened #197 "Project dead?"
Title says it ;-)

[2021-01-12 14:39] JohnDeved commented on #197
the projekt is definitly not dead.
@SimonHoiberg is just very busy at the moment because of launching multiple Saas products, becoming an online developer influencer and other stuff I might not be allowed to talk about yet.
He still uses Direflow in all of his products and has, therefore, definite interest in keeping this project updated.

PRs are very welcome anytime, but because of the above-men

[2021-01-12 14:42] JohnDeved commented on #197
closing this since the question was answered.

[2021-01-12 14:42] #197 closed

[2021-01-12 15:08] SimonHoiberg commented on #197
Thanks a lot, @JohnDeved 🙌
I don't have anything more to add.

Direflow is stable - you can start using it right away.
All necessary documentation and guides can be found on https://direflow.io

Cheers.

[2021-01-13 09:57] KomalPandya commented on #127
I'm trying to pass JSON object as a prop to the Direflow component. Its able to render it the first time but not picking on changes in props for re-rendering.
Can you please help here?

[2021-01-18 09:49] WalkOffEarth opened #198 "grommet styled component is not getting styled"
HI

my application is using grommet and want to wrap into web component so decided to go with direflow, but direflow is not applying styled component css in to component any idea how can i use that.

i am noticing css is getting included in head but its not applying.

[2021-01-22 09:54] GeorgeBalat opened #199 "Multiple instances of Material UI"
Hello everyone,

**Problem:**
in our project we are using an app shell and two other web components on one page. All of them are using Material UI. While loading the page and inspecting it, it is too see, that multiple instances of Material UI were loaded. This also overrides the rules, that were defined in the upper stylesheet.

**Example:**
`
<appshell>
     <component1 />
     <component2 />
</

[2021-01-27 10:32] alex-fournier opened #200 "[IE11] Material-UI styles are not isolated between components"
**Describe the bug**
In Internet Explorer 11, when having multiple direflow components using material-ui components in the same page, styles are not isolated between components. It leads to a corrupted style.

I think CSS encapsulation in web components has some limitations, especially when using Internet Explorer. We should use a prefix or something to make any CSS class unique and avoid any styl

[2021-01-28 08:11] JohnDeved commented on #200
thank you, for your issue submission and contribution!
I will have a look at your PR later today 🙂

[2021-01-28 11:07] SeeinWang opened #202 "Can not set NODE_ENV in script"
I want to use different apis for production and development mode. So my script in package.json is
"scripts": {
    "start": "direflow-scripts start",
    "start:dev": "REACT_APP_MODE=DEV && direflow-scripts start",
    "start:prod": "REACT_APP_MODE=PROD && direflow-scripts start",
    "build": "direflow-scripts build",
    "build:lib": "direflow-scripts build:lib",
    "test": "direflow-scripts te

[2021-01-28 11:25] SeeinWang commented on #166
@sathishkrishnan20 Can I ask how you add a custom ENV variable,
My script is like
"scripts": {
    "start": "direflow-scripts start",
    "start:dev": "REACT_APP_MODE=DEV && direflow-scripts start",
    "start:prod": "REACT_APP_MODE=PROD && direflow-scripts start",
    "build": "direflow-scripts build",
    "build:lib": "direflow-scripts build:lib",
    "test": "direflow-scripts test"
  },

But it

[2021-01-28 11:31] #202 closed

[2021-01-28 11:31] SeeinWang commented on #202
I figure out. just delete &&

[2021-01-29 01:11] SeeinWang opened #203 "Can not change MODE and env in script"
**Describe the bug**
I was trying to change mode and env in the script. But it always gives me mode: development and env: development when I run start: dev and start: prod. And it gives me mode: production and env: production when I run build: dev and build: prod.

Here is my script

"scripts": {
    "start": "direflow-scripts start",
    "start:dev": "direflow-scripts start webpack-dev-server --p

[2021-01-29 08:15] tomasdanek83 commented on #138
Unfortunately this still happens in the latest version direflow-cli@3.5.1. It doesn't work even when running in Git Bash.

[2021-01-29 08:31] JohnDeved commented on #138
@tomasdanek83 can you provide a bit more info about your development environment and the error you are getting?

[2021-01-29 08:56] tomasdanek83 commented on #138
STR and error are identical to the original ones of this issue.
I tried to run the command in several different folders. Command line running as administrator. It fails also in Git Bash.

Env: Windows 10, NodeJS v14.15.4

[2021-02-03 14:34] Braweria opened #204 "Can't find "direflow-scripts" after installing direflow"
**Describe the bug**

After following the **Get Started** guide, I get the error message that "direflow-scripts" cannot be found or it's written incorrectly. I have not changed anything, I only followed the step-by-step guide.

**To reproduce**
[code]
And then
[code]
Additional Error Message
[code]

**Expected behavior**
To start direflow

**Package Manager:**
I used NPM.

**Screenshots**

![image

[2021-02-04 02:53] kumar2live opened #205 "Build React component library - Not working"
Build React component library:

When I tried to build react component as library from (https://direflow.io/get-started#build-react-component-library). I am able to export but when I try to use that in another react project there are so many issues with compatibility and bootstrapping. Can't seem to make it work.

Any example or resources would be really helpful.
Great work overall!

[2021-02-05 17:42] krzysztof-vizlib commented on #21
Hello, how it is going about that feature?
I'm also interested to load built web-components as umd 😄

[2021-02-11 09:07] ebual opened #206 "Developer Name/Workspace exposed"
**Describe the bug**
The bundled `direflowBundle.js` contains the full absolute path to the components `index.tsx` of the system it is being build on. The path is a string as part of an error message.
E.g. `File is not found: /Users/<myUserName>/Workspace/example-project/src/direflow-components/custom-element/index.tsx`

**To reproduce**
Steps to reproduce the behavior:
1. Create a new direflow pr

[2021-02-11 14:28] dalopezarco commented on #154
Same issue with either Javascript or Typescript

[2021-02-11 18:48] dalopezarco commented on #154
It is true that has to be something with Windows only, I Installed Windows Subsystem for Linux, and run the script from the Ubuntu console and it worked.

[2021-02-13 16:33] #187 closed

[2021-02-13 16:34] vijay-kumar-singh commented on #187
I am able to solve issue by referring
[#194 (comment)](https://github.com/Silind-Software/direflow/issues/194#issuecomment-754210213)

[2021-02-13 16:41] Stevemoretz commented on #187
As I mentioned that doesn't work if you have a textfield in the popper.

[2021-02-15 13:09] alex-fournier commented on #200
@JohnDeved Did you have time to take a look at the PR #201 ? This issue is blocking for us :(

[2021-02-15 13:38] JohnDeved commented on #200
Yes sorry, kind of got carried away with stuff.
I'll make sure to approve it asap, so that it won't be a blocker for you anymore

[2021-02-16 04:08] #200 closed

[2021-02-16 04:22] SimonHoiberg commented on #200
Apologize for the wait.

This is now included in v. 3.5.2 🙌

[2021-02-16 08:17] alex-fournier commented on #200
Thanks a lot :)

[2021-02-16 14:05] youssef-abdelmalek opened #208 "long type props are miss-converted"
**Describe the bug**
I found out the hard way (production-bug) that the long types in attribute in direflow are converted to numbers that are transformed afterwards
example:
testid="500030690001839652" becomes 500030690001839700 in the react component
(even tho no transformation is required I m happy with just a string)

**To reproduce**
Steps to reproduce the behavior:
1. create a direflow web co

[2021-02-18 10:30] BastianMa commented on #199
Hi,
maybe this is a workaround for you:
https://material-ui.com/styles/api/#creategenerateclassname-options-class-name-generator
This generates a Prefix to all ClassNames, for example "App1-MuiButtonBase-root" instead of "MuiButtonBase-root"

[2021-02-18 10:35] BastianMa commented on #199
i just saw in the commits that this is already in use
https://github.com/Silind-Software/direflow/commit/0df9f3eb02aaef948418c7e1206e1348f2f4b0dd

[2021-02-18 16:02] kcmr opened #209 "Components don't react to attribute changes"
**Is your feature request related to a problem? Please describe.**

When you set a component's attribute, the corresponding value doesn't change as expected. It can be reproduced with the default component created with Direflow CLI if you run `$0.setAttribute('componentTitle', 'whatever')` in the browser devTools.

Setting the attribute only seems to have effect on the initial render.

**Describe

[2021-02-19 21:57] kcmr commented on #209
I've realized that it only happens with camelCase properties that are converted to lowercase for the equivalent attributes. I'm opening a PR to fix that.

[2021-02-20 04:48] SimonHoiberg commented on #181
This is partially applied in [this PR](https://github.com/Silind-Software/direflow/pull/182)

[2021-02-20 04:50] SimonHoiberg commented on #206
Thanks a lot for creating this issue.

This is actually a good point :+1:
I agree, it's not the best. We'll look into this.

[2021-02-20 04:52] SimonHoiberg commented on #208
Thanks a lot for creating this issue.

This is a super nice catch - thank you!
All values are treated as serialized and converted with `JSON.parse`, so this makes perfect sense.

We'll look into this issue soon.

[2021-02-20 16:01] #209 closed

[2021-02-22 15:54] youssef-abdelmalek commented on #208
Thank you for the response. keep up the good work! 👍

[2021-02-23 10:21] kcmr opened #213 "Styled Components plugin makes components crash when a property is changed"
**Describe the bug**
Components that use the Styled Components plugin crash when a property is changed. This only happens in production mode (`direflow-scripts build`). In development mode, when you change a property, the style tag is appended at a different position that it is on the initial render and the styles are not applied to the component anymore. The generated class names don't exist in t

[2021-02-23 10:48] kcmr commented on #204
The same happens to me using npm 6.4.11 but it works after running `npm i` one more time.

[2021-03-08 10:12] ilstarno opened #214 "ENOENT: no such file or directory, scandir 'direflow-components'"
After installing react redux and forced to do npm audit fix direflow upgrades its dependencies and later on this error comes out
ENOENT: no such file or directory, scandir 'direflow-components'

[2021-03-08 18:33] hirensavalias commented on #214
I faced the same issue, initially it had `react` dependency conflicts with `react@16.14.0` . I tried below version and it worked for me.

[code]

[2021-03-08 18:37] hirensavalias commented on #198
Did you try `styled-component` plugin?

https://direflow.io/plugins#styled-components

[2021-03-08 18:53] hirensavalias opened #215 "React library creation failing"
**Describe the bug**
I just created a direflow sample project with direflow-cli and when im trying npm run build:lib, im getting below error message:

**More Details**
Windows 10
Javascript
Npm
direflow-cli sample project version
[code]

**To reproduce**
Steps to reproduce the behavior:
1. `npm i -g direflow-cli`
2. `direflow create`
3. `cd <project-folder>`
4. ` npm install`
5. `npm run build` -

[2021-03-12 15:46] vijay-kumar-singh opened #216 "material-ui tooltip display issue"
**Describe the bug**
Material-UI tooltip generate DOM elements out of the Web Component.
I have referred https://direflow.io/guides-and-tips#tips-for-material-ui but it has only solution for popover component.
Similar fix does not works for tooltip component as tooltip component does not have container attributes where domref can be passed.

**To reproduce**
Steps to reproduce the behavior:
1. Ins

[2021-03-15 14:10] Anastassiabp commented on #174
Is there any workaround for this issue? I am running into it too, almost 6 months after it was reported.

[2021-03-19 11:32] mikigraf opened #217 "build: no such file or directory, open '/Users/miki/direflow-project/testapp.worker.js'"
Hi, I'm getting this error, even though I was able to build my project correctly in the past and I'm not sure where to even start looking for possible issues. Has anybody experienced it already?

[2021-03-27 14:10] leanderseige commented on #214
I have the same problem.

[2021-03-29 09:39] tstankevicius opened #218 "webpack devServer proxy not working"
Hello,

I am trying to overwrite webpack config in direflow-webpack.js file to add proxy setup:

function addCustomConfig(config) {
	config.devServer = {
		proxy: {
			'/rest/**': {
				target: 'http://localhost:1880',
				bypass: function (req, res, proxyOptions) {
					console.log('proxy...', req);
				}
			}
		},
	}
	return config;
}

module.exports = (config, env) => ({
	...addCustomConfig(web

[2021-03-29 15:57] simi opened #219 "withStyles doesn't work with component attributes"
**Describe the bug**
Using withStyles to wrap component does't connect component to HTML attributes.

**To reproduce**
1. create component `direflow c`
2. remove `Styled` from App.tsx
3. replace it with `withStyles` (import and wrap export)
4. add custom `componentTitle` attribute to `public/index.html`

**Expected behavior**
Custom `componentTitle` attribute to be used in initial render.

**Actua

[2021-03-31 14:28] marcabisamra opened #220 ""split": true in direflow-config.json doesn't emit all components, instead emits path-0.js"
**Describe the bug**
When `{..."split":true}` is set on `direflow-config.json` some really weird behavior happens. Random component builds are emitted into the build folder (`component1.js`, `component4.js` out of 5 components), along with a `path-0.js` and a `main.js` (which both seem to have ALL the components in them)

**To reproduce**
Steps to reproduce the behavior:
1. Create a direflow proje

[2021-04-10 22:32] SimonHoiberg opened #221 "Direflow is looking for awesome maintainers 🚀"
I am sincerely honored to see how weekly downloads of Direflow have grown rapidly since the start of 2021.
On the other hand - issues and bug reports keep ticking in as well.

Unfortunately, I'm fully occupied with other projects, and I don't have a lot of time to maintain this project.
Therefore, I'm looking for maintainers that are interested in keeping Direflow a nice DX, and possibly implement

[2021-04-13 11:58] albert-dm commented on #19
I'm getting this with v3...

alber@DESKTOP-BLHLT91 MINGW64 ~/Documents/work/ambaya/code/ambaya-v2/ambaya-design (main)
$ yarn build:lib
yarn run v1.22.4
$ direflow-scripts build:lib
Building React component library...
events.js:292
      throw er; // Unhandled 'error' event
      ^

Error: spawn webpack ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:269:19)
    at onE

[2021-04-21 07:21] sunnyChoudhary0710 opened #222 "Storybook support with direflow react components."
**Describe the bug**
I would like to create a storybook link to showcase all Direflow react components I have created for my React based component library.
I am using SCSS to style and theme my components and binding them using "Styled" wrapper from "direflow-component" as shown below.

`
import { Styled } from 'direflow-component';
import styles from './Button.scss';

const Button: React.FC<Butto

[2021-04-26 15:38] marcabisamra commented on #214
How do you create a bundle from `react-to-webcomponent`? That's our only issue for migrating over

[2021-04-27 13:19] PrimaMateria commented on #214
https://github.com/Silind-Software/direflow/blob/c71ab70e343249f261a255568fdb4179a5f96dfe/packages/direflow-scripts/src/config/config-overrides.ts#L22-L24

`originalEntry` is correctly set to the path to the "index.ts" which resides in the same folder as folder "direflow-components".
E.g. `/home/user/project/src/index.tsx`.

Although the next line doesn't make any sense.
For development, it picks

[2021-04-27 17:28] PrimaMateria commented on #214
I found how to bypass the error.

In direflow-webpack.js treat config before passing it to direflow-scripts.
[code]

The issue is that scripts expect entry always as an array of strings. But if only string is passed, it treats it as an array of characters.
I was trying to find where I could fix it in the Direflow source code, but I could locate the right place.

Maybe someone else could understand

[2021-04-29 13:58] cedric-sd commented on #215
I have same problem, and i cant resolve this, if you resolve could post here pls

[2021-05-03 23:31] yosdanybm commented on #216
I also tried to use RootRef according to kkk but it doesn't work, the solution is to use the disablePortal attribute:
[code]
I hope it will be useful

[2021-05-05 15:13] luchobertello commented on #19
Same issue here. Direflow v3.5.5
Windows 10 Enterprise 64bit

[2021-05-05 15:13] luchobertello commented on #215
Same issue here. Direflow v3.5.5
Windows 10 Enterprise 64bit

[2021-05-10 11:11] DjolePetrovic commented on #34
Any updates on this?

[2021-05-13 17:56] YehudaKremer opened #230 "Can't Go Offline"
Hello there

Im trying to get my web component work 'offline' with no externals dependencies,
i followed the instructions in the [Offline support](https://direflow.io/additional#offline-support) guide,
and polyfills are now include in the bundle, but the React libs are not include in the bundle and i getting always externals:
- https://unpkg.com/react@16/umd/react.production.min.js
- https://unpkg

[2021-05-19 08:07] superandrew commented on #120
we are having this issue, and using the offline configuration option didn't make it disappear. Any idea on how to debug? We tried serving the source mapped version of the script in order to understand what triggers the error, but as we expected serving the script with the development server doesn't trigger the error, which fires only when built and launched with
`serve -s build`

[2021-05-21 08:47] zeight commented on #120
we had a similar issue, even though our component kept working, we had the same error in console.
We solved by exposing React and ReactDOM to the window object in `app.tsx`

[code]

[2021-05-24 13:11] superandrew commented on #120
cool solution @zeight  . Besides, we weren't able to make offline work, not sure if it's related to https://github.com/Silind-Software/direflow/issues/230

[2021-05-26 23:50] KitoC commented on #213
I'm also coming up against this issue. Is there any progress on this or any idea why this is happening? Any workarounds?

[2021-05-27 03:42] KitoC commented on #213
Found a workaround by wrapping web-components in a HOC. The weird thing is that the web-component will only accept props if they are defined on `.defaultProps` of web-component.

[code]

[2021-06-01 04:34] vinitkumargoel opened #231 "Error in Test cases"
**Describe the bug**
We are trying to mock context and spy on dispatch. But we are not able to do so. dispatch is coming as undefined.

`
const dispatch = jest.fn();

   jest.spyOn(ReactExports, 'useContext').mockReturnValue(() => {
      return dispatch
    });
`

Please suggest how to mock context and test dicpatch.

[2021-06-02 05:42] vinitkumargoel commented on #231
Hi, @nicocunin  @kcmr  @johnmcase @andrusch ,

Can you please have a look at this please

[2021-06-02 15:44] leebh-m opened #232 "Styled-Components in library is not working"
**Describe the bug**
I added custom ui component library and the library uses styled components.
I tested styled components with own sources are working fine. but UI from the library is broken.

class name and css is generated by styled components but style is empty

**To reproduce**
Steps to reproduce the behavior:
1. Install library using styled components
2. Open '....'
3. Build '....'
4. See e

[2021-06-08 05:13] brentonr94 commented on #230
I'm also having the exact same problem, would love to see a solution to this one! Means I'm having to add exceptions into our content security policy in our 'shell' application which is less than ideal.

[2021-06-08 06:07] brentonr94 commented on #230
Have just been doing some trial and error - It looks like i've been able to go completely offline by adding the following to my direflow-config.json file (I had it in the webpack config previously)

`  "modules": {
        "react": false,
        "reactDOM": false
  }
`

[2021-06-11 02:50] kelvinwongg opened #233 "Possible to work on multiple Web Components in a single Direflow project?"
I read thru this [documentation](https://direflow.io/get-started), seems like I need to create another Direflow project if I need to create more Web Component tags.

[2021-06-11 12:09] vijay-kumar-singh opened #234 "Fix for Material-ui tooltip display issue"
When using material-ui tooltip component, tooltip pop up DOM elements getting generated out of web component.
Sample code to fix this issue:
[code]
Happy coding :)

[2021-06-17 06:15] kelvinwongg commented on #14
Hi! I ran into the same problem. Haven't tried the method by @wildfalcon but the @mperazac give hints that is caused by the font-awesome css being injected to the <head> element, which make it unavailable to the Shadow DOM of your Web Components. My workaround to this is simply **disable the shadow dom** of my components which using Font Awesome:

In the index.js of your component:

`
export defau

[2021-06-17 08:20] kelvinwongg commented on #173
@SimonHoiberg I have the same problem import SVG, below is my code snippet:

[code]

[2021-06-17 11:26] kelvinwongg commented on #193
@darshna09 I ran into the same problem not loading custom fonts, do you mean remove 'font-loader' import from the top of the index.js file?

[2021-06-18 12:18] dalopezarco commented on #215
Try to run it with Windows WSL Ubuntu and it should work

[2021-06-21 08:57] kelvinwongg commented on #8
Hi @SimonHoiberg , I setup the component's method as you described above, in the .defaultProps object, I wonder how I could access the functions and properties defined inside the component?

[2021-06-23 10:15] kelvinwongg commented on #193
@darshna09 Yes, I do run into the 404 font file problem, the production build point my font file and add some numbers to the filename, like so:

static/media/[Orignal Filename].08e26c81.woff

Do I have to update the filename for every build?

BTW, I found this Direflow things is a bit waste of time, because it is very **buggy and hacky**

[2021-06-23 13:17] darshna09 commented on #193
@kelvinwongg I have worked on all these LitElement, Direflow - to tell the truth, there is some hassle with everything.

For the font issue, we ended up deploying the font files on the server and then using that URL in the `@font-face`. Note the `@font-face` where then defined outside the context of Direflow. Not sure if it will work inside or not.

We can create a bug and see what other people su

[2021-06-28 16:39] vinitkumargoel commented on #231
Hi, @nicocunin @kcmr @johnmcase @andrusch ,

Can you please have a look at this please

[2021-06-28 17:10] onhate opened #235 "React 17 and Webpack 5 support"
Upgrading Next.js to 11 for example, requires React 17 and Webpack 5, but I also have direflow components on my monorepo so I'm not able to upgrade Next.js, React nor Webpack.

[2021-07-08 04:57] vinitkumargoel commented on #231
Hi, @nicocunin @kcmr @johnmcase @andrusch ,

Can you please have a look at this please

[2021-07-08 05:47] kcmr commented on #231
Hi @vinitkumargoel

I'm not part of the maintainers of this project and only contributed once to it to fix an error that was affecting me. I don't know the code enough to help you with this and I don't have time either. Sorry.

[2021-07-12 05:49] KomalPandya opened #236 "Latest direflow-scripts npm still uses old version for its dependencies"
The npm 'direflow-scripts' uses 'handlebars' as its dependency package. I installed the latest version of 'direflow-scripts' ie.e version 5.5, but it uses old version of 'handlebars' package i.e. 4.7.2. The latest version for 'handlebars' is available at 4.7.7.
Can you please upgrade for all such dependencies?

[2021-07-21 15:29] lduraj90 opened #237 "Direflow re-build on the fly to file"
We use direflow in a very specific way in our project. Currently we are during migration legacy code to new react code. We use a strangler pattern, so currently, the new code is a dependency to the old repository.

I opaqued it both in the docker and docker-compose containers, which syncs `direflowBundle.js` built on watcher. Because legacy application loads the direflowBundle I can't use provided

[2021-07-21 16:02] nitroplonker opened #238 "Css Modules"
Hi,

My aim is to use my existing React library of components (built on CRA using css modules) inside Angular apps. The problem i am running into is that when trying to build the component it doesn't appear to generate the modularized css file that it is referencing inside the component

`ENOENT: no such file or directory, open 'C:\Source\library\dave-component\build\static\css\main.b5c61002.css'`

[2021-07-27 04:29] brentonr94 commented on #213
I'm getting the same issue, @KitoC I tried your workaround but not getting the props passed through anymore.. Any chance you could post a more complete example?

[2021-07-27 06:35] KitoC commented on #213
Hi @brentonr94, the trick is to wrap the component you created before assigning the defaultProps.
e.g.
[code]

[2021-07-27 06:37] brentonr94 commented on #213
Great thank you! I was just reworking my comment as I found defining the props in the direflow config also resolved my issue of props not being passed through.
Thanks again!

[2021-07-29 20:53] yaya-bhavik commented on #237
Hi @lduraj90 ,

One thing you can try is to tell the webpack dev server to write the file to disk instead of the default of keeping it in memory.

In your config-overrides.js:
[code]

[2021-07-29 21:37] yaya-bhavik commented on #233
Hi @kelvinwongg,

One way to develop multiple web components in the same repository would be to setup a demo application which has routes to each of the Direflow components you register / create via the Direflow api.

[code]
function CustomElement({ props, tagName }) {
	const ref = React.useRef(null);

	React.useEffect(() => {
		if (ref && ref.current) {
			// Pass whatever props to the props obje

[2021-07-29 21:44] yaya-bhavik commented on #218
Hi @tstankevicius ,

In your config-overrides.js you can try using:
[code]

[2021-08-01 21:15] yaya-bhavik commented on #238
Hi @nitroplonker,

If you are importing the CSS into your React Component like https://direflow.io/styling . After build, your styles are added to the main JS file and at runtime of the main JS file your CSS as a string will be added to the DOM via style tags within your web-components when they are rendered.

[2021-08-05 17:05] Blazsoul opened #239 "Change src folder location"
``Because i am combining direflow with another project i have. I have a clash between 2 index.js files under src folder.
I tried to change it by adding paths prop as suggested here: [https://stackoverflow.com/questions/44448851/how-do-i-change-src-folder-to-something-else-in-create-react-app](url)
But it didnt work:

`const path = require('path');

module.exports = {
    paths: function (paths, en

[2021-08-09 17:21] mjbedford commented on #187
Sorry to re open this but I do not see how the resolution mentioned above work to solve this issue , could someone post a sample that show a working select, Thanks

[2021-08-12 07:41] AviusX opened #240 "Using Tailwind with Direflow"
So I have an existing React project that I now want to use with Direflow to convert it into a web component, but the project currently uses `craco` for the start, build and test scripts and uses TailwindCSS (setup as shown [here](https://tailwindcss.com/docs/guides/create-react-app)).
Now I can't use `craco` for the scripts since replacing `direflow-scripts` won't work. Using tailwind as a CDN dis

[2021-08-17 15:08] arthurhamon opened #241 "[Question] How to load external CSS from a node_moodules package"
Hi and thank you for the help.

I have installed an external package, for example  `@name/my-package`.

How can I load the css from this package using `external-loader` ?

I've tried to do it like this but its not working.
`"plugins": [
      {
        "name": "external-loader",
        "options": {
          "paths": [
            "~@name/my-package/style.css"
          ]
        }
      }
    ]`

[2021-08-22 16:17] #219 closed

[2021-08-22 16:17] simi commented on #219
closing due to inactivity

[2021-08-23 03:56] zeratul1 commented on #190
https://github.com/Silind-Software/direflow/blob/990016cf1569f628f7771729ffbb3cac31f52014/packages/direflow-scripts/src/config/config-overrides.ts#L122

The `sourceMap` option was configured as `false` in `development` environment,
so we got an empty souce map file after build.

[2021-09-03 08:23] fausfore opened #243 "Build Offline production"
Hi teams !

I use DIreflow for making web component but in my project we have a environment with many proxys who not allowed urls like pkg.com.

So i build un offline version of the component but steel we found after some logs like "Direflow Error: React & ReactDOM was unable to load" or "Polyfill failed to load" but the component work correctly and i wonder why we fetch those urls on production m

[2021-09-08 14:40] #243 closed

[2021-09-09 12:51] urbicon commented on #214
I was having this issue too, and for me, it was an upgrade of "react-scripts" from "3.4.4" to "4.0.3" that caused it. When i reverted this, the issue was gone.

[2021-09-16 08:07] ramankharche opened #245 "Direflow Component is not rendering in safari"
**Describe the bug**
We have created a super nav bar project on top of direflow. It has top nav bar and sidebar.
Now the component we are exporting is <abc-component> and using this component in several other applications (a1, a2, ...)
Here <abc-component> renders successfully in chrome, Edge but in safari sometimes it loads perfectly but sometimes it doesn't

[code]

**To reproduce**
Steps to rep

[2021-09-23 02:00] joelash opened #247 "`DireflowPromiseAlike` does not properly scope resolutions"
I was looking at the example about using [redux](https://direflow.io/guides-and-tips#direflow-and-redux) with the callbacks on the two different components. When I something similar I noticed only the last of the `.then` bodies was being called. I used the Code Sandbox example and realized that this was broken as of `v.3.5.x`. You can see that on this [updated example](https://codesandbox.io/s/red

[2021-09-23 03:27] LuisRodriguezLD commented on #240
what I personally do, is build the css using tailwind-cli before building my component.

example:
`NODE_ENV=production npx tailwindcss -i ./styles/globals.scss -o ./src/direflow-components/layout-component/style.css`

[2021-10-09 22:46] gordoneliel commented on #245
I have a similar bug, component loads fine sometimes and styles are missing other times only on Safari on mobile and desktop

[2021-11-04 20:22] Markkop commented on #236
Same here. Is there any workaround for this?

[2021-11-08 11:33] kidqn commented on #215
anyone fix it? I got the same issue on Windows, cannot build lib, only build successful

[2021-11-08 17:58] meschial opened #249 "I need to generate a 2-component build"
I have 2 components that when I generate a project build it divides into 4 parts in the build folder, but the 2 components are in main.js, I wanted each component to have its respective name in the build, but I don't know how to configure it in direflow, can anyone tell me if there's a way?

Print IMG: [Link-Print](https://ibb.co/F5Jbtbv)

[2021-11-09 03:24] kidqn opened #250 "Apply react router to direflow"
**Describe the bug**
Hi everyone, can I add react router to direflow? Because I couldn't find any example about it.

**To reproduce**
- react router v6
- react 16
- react-dom -16

**Expected behavior**
Can use react router dom in direflow

**Package Manager:**
Node 15

Thanks for any help!

[2021-11-10 07:00] #250 closed

[2021-11-10 07:00] kidqn commented on #250
fixed

[2021-11-23 14:50] tspringborg opened #251 "`File sizes after gzip` fails when using a token for 'chunkfileName'"
**Describe the bug**
After including a npm package with some webcomponents built by stenciljs my direflow build failed with:
[code]
Fixed this by modifying the filechunkName in the webpack config to use a token instead.
[code]

Now running `direflow-scripts build` correctly creates a direflowBundle.js file in which everything seems in order.

But the build "fails" when trying to report filesizes

[2021-11-24 00:47] HeitorBRaymundo opened #252 "Problems with e.processCSSText on some sites"
**Describe the bug**
I built a web component that work perfectly in many sites in production mode but for any reason that I cant figure out why in a particular site my web component crashes (screenshots).

The problem is in the bundle file `processCSSText` function.

**Package Manager:**
To install Direflow, I used npm

**Screenshots**
![image](https://user-images.githubusercontent.com/18041471/14

[2021-11-27 16:04] martianatwork commented on #251
Fixed it by using
[code]

[2021-11-29 15:06] #251 closed

[2021-12-16 16:37] david-soyez commented on #234
Thank you it worked, you saved me hours of research.

[2021-12-17 08:07] FrankKai commented on #208
I also have this problem. 0.0

[2021-12-17 15:50] ponkans commented on #208
This can be done for now, but hopefully Direflow is compatible with this problem. Assign 500030690001839652 as a string as follows:

document.querySelector('webcomponents-name').testid = '500030690001839652'

[2022-01-08 17:40] #230 closed

[2022-01-11 09:37] vasilrashkov opened #253 "Question: how to add react libraries with providers?"
**Is your feature request related to a problem? Please describe.**
We are using direflow-components for integrating a react app within an already existing Ember app.
Our main goal is to rewrite big part of the application before transitioning fully to react and adding new features with direflow-components.

We wanted to use baseui with styletron but the current implementation of direflow does not

[2022-01-14 09:05] linediconsine opened #254 "Install direflow : mkdirp@0.5.1: Legacy versions of mkdirp are no longer supported."
Hi All,
I am trying to install direflow but I get this error

on Osx
[code]

[code]

[2022-01-27 10:00] omnibrain commented on #232
@leebh-m I had the same problem but it turned out the documentation is just outdated or misleading. If you register the `styled-components` plugin in `direflow-components/<your components>/index.js` then it works as expected. When I added the `styled-components` plugin to the `direflow-config.js` as described in the documentation it didn't work.

[2022-02-01 00:56] pierretoure commented on #222
Have the same bug. Any updates ?

[2022-02-05 08:24] Stevemoretz commented on #235
Had to downgrade my material ui to v4 because of react 17 not being supported.

[2022-02-05 14:06] turenc opened #255 "Webpack 5, React Script 5"
First of all, we are very grateful for developing this wonderful library and distributing it for free.

Two months ago, version 5 of the "react-script" package was released.
https://www.npmjs.com/package/react-scripts
So React-script now supports Webpack 5.0 and React 17.0.2.
"webpack 5" brought together great innovations.

Supporting these versions for Direflow will add great value to the product

[2022-02-06 14:41] vijay122 commented on #241
If i understand your question properly,
You should be able to include css files by directly importing them in your direflow components.
Filename : direflow-components/index.js

import "@name/my-package/style.css";

if you want to add additional loaders for the css file type, add webpack config for direflow,
Filename : direflow-webpack.js
/**
 * Webpack configuration for Direflow Component
 * Addit

[2022-02-07 21:21] turenc commented on #235
i have a similar problem:
https://github.com/Silind-Software/direflow/issues/255

[2022-02-07 21:37] Stevemoretz commented on #255
We need this as well

[2022-02-16 17:58] vijay-kumar-singh commented on #255
we cant wait to have support of react 17 in Direflow.
Looking forward to get this support to try out React new feature and MUI library new components and export it as web component using Direflow.

[2022-02-17 09:48] derzierau commented on #32
@SimonHoiberg any updates? Thanks in advance!

[2022-02-18 13:17] Stevemoretz commented on #255
Could be related to : https://github.com/Silind-Software/direflow/issues/221

[2022-03-01 12:31] vijay-kumar-singh commented on #154
This may help to resolve this issue.
https://github.com/facebook/create-react-app/issues/9455

[2022-03-10 09:38] mohiddin21 opened #260 "How to set the external-loader dynamic using the direflow properties that we get."
I have a requirement where I need to load the external-loader dynamic using direflow properties.

Here is the sample code:
const direflowProperties = {
  dynamicurl: '',
};

export default DireflowComponent.create({
  component: AppData,
  configuration: {
    tagname: "sample-comp",
    useShadow: true,
  },
  properties: direflowProperties,
  plugins: [
    {
      name: 'external-loader',

[2022-03-11 10:39] vijay-kumar-singh commented on #249
Hope Split option will help here.
Taken from Direflow Docs
![image](https://user-images.githubusercontent.com/26203635/157851490-2c4ee498-a594-4b54-b5d7-09e516975cf8.png)

[2022-03-16 08:30] #253 closed

[2022-03-17 17:25] lloydzhou commented on #247
I just using one subclass to replace with `DireflowComponent`

[code]

[2022-03-18 01:48] FrankKai commented on #218
I can config devServer by this way.

[code]
@tstankevicius Maybe you can have a try.

[2022-03-18 02:50] lloydzhou commented on #247
@joelash
## support multi instance

[code]
## using id to filter instance
[code]

[2022-04-01 12:49] dlwsacrez commented on #155
@SimonHoiberg any updates, still got the issue?

[2022-04-01 19:44] nosisky opened #264 "Set constant scope id"
Any idea how to set a constant scope ID for the CSS? I noticed a new scope id is generated everytime for a scoped style, I would like a system to set a constant scopeId so that the same value is used for every build.

<Style scopeId={12345} scoped={false} styles={[style1, style2]}>
   <div></div>
</style>

[2022-04-22 15:16] m4m-simon commented on #247
@lloydzhou Thank you for this fix! It works now again... BUT now the eventListeners are only added to the first instance of the custom-elements.

to stay with the redux example, try this:
[code]

Only the first two will work... the others don`t have eventListeners...

[2022-05-18 17:21] arthurhamon opened #269 "Modify webpack config for cmd : direflow-scripts build:lib"
Hello,

Is their a way to change the webpack config use with this cmd : `direflow-scripts build:lib` ?

Why I want to do that ?
I want to change the TerserPlugin config in order to authorise `console.info` and `console.errror`.

So I want to change the config from :
[code]
to :
[code]

[2022-06-07 07:56] turenc commented on #255
https://github.com/Silind-Software/direflow/pull/271

[2022-06-13 06:48] hirenreshamwala opened #272 "React class component with custom event"
Hello,

Any example of React class component with the custom event?

[2022-06-14 05:44] hirenreshamwala commented on #240
You can use tailwind cli to compile the CSS and use output file in your app.js file

Add the following "script" in your package.json
[code]

run command in another terminal
[code]

import CSS file into your App.js
[code]

[2022-06-15 09:05] hirenreshamwala commented on #272
I found

[code]

[2022-06-15 09:05] #272 closed

[2022-07-06 10:56] MaksimLavrenyuk commented on #218
@tstankevicius

Since a cra configuration is used under the hood, you can do the following:

according to this article https://create-react-app.dev/docs/proxying-api-requests-in-development#configuring-the-proxy-manually

create a file:
src/setupProxy.js

with roughly the following contents:

`
const { createProxyMiddleware } = require('http-proxy-middleware');
const path = require('path');
const

[2022-07-15 07:45] hirenreshamwala opened #276 "unmount/remove DireflowComponent"
Hi,

I want to add/remove web component on demand in my HTML file.

I created a component `<demo-button>`

[code]

This code is adding my component and removing it properly but it shows the following error in the console
[code]

some forum says I need to unmount it from the react component. But I don't know exactly what I need to do.

Can anyone guide me?

Thanks.

[2022-07-15 18:23] AviusX commented on #240
I didn't reply earlier, but thank you both for responding. I've since moved on from the project where I was working on Direflow so I personally don't need to keep this issue open.

I do think that there should be a more hands off approach where we shouldn't manually have to run commands every time to make it work (maybe there is now, it's been a year since I opened this issue).

But in any case, t

[2022-07-15 18:23] #240 closed

[2022-09-27 07:59] tinotjgithub opened #279 "nom run build:lib not supported in windows"
**Describe the bug**
A clear and concise description of what the bug is.

**To reproduce**
Steps to reproduce the behavior:
1. Install '...'
2. Open '....'
3. Build '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Package Manager:**
To install Direflow, I used... (npm / yarn / something else)

**Screenshots**
If applicable, add screensho

[2022-09-29 22:05] Jonaslc opened #280 "html-loader to allow importing html files"
Goodnight,

I couldn't use html-loader to allow importing html files.

Could not install html-loader
![erro install html-loader](https://user-images.githubusercontent.com/5053711/193150138-ba427546-6211-4294-892e-9f9864ee3ed6.png)

Is there any way to use html files?

[2022-10-06 15:35] SimonJiTa opened #281 "Bug whit Material UI date picker"
![image](https://user-images.githubusercontent.com/113569215/194356233-69b5762b-0acb-47d2-89dd-41156b18ed35.png)

[2022-10-06 15:50] PrimaMateria commented on #281
Probably you need in `DialogProps` set `container` property and pass there a reference to some element that is rendered in your widget. This happens because all the MUI styles are added under the shadowRoot where the webcomponent lives. But MUI by default injects Modals to the parent document. So with the `container` prop you instruct MUI to inject the Modal to correct place.

[2022-10-06 16:03] SimonJiTa commented on #281
How i do that?
![image](https://user-images.githubusercontent.com/113569215/194362615-451dd236-d5f6-4fdb-a9a7-8e97a30dc9d4.png)

[2022-10-07 10:05] PrimaMateria commented on #281
Hard to tell why exactly this doesn't work for you.
I don't use `RootRef` just a normal Box and I pass ref function instead of directly ref. And this ref I store in state, so I have a rerender when it becomes defined.

(Pseudocode with TS)
[code]

Additionally, I passed the `rootContainer` to a React context, so then later anywhere down the component hierarchy tree I can access it.

[2022-10-12 18:40] crazyming9528 opened #282 "How to provide component instance methods for external use"
I would like to know how to provide component instance methods for external use, thank you

[2022-10-13 18:03] PrimaMateria commented on #282
There is two-way communication between host and web component via web component's properties and events.
If this doesn't answer your question, please elaborate more what you want to achieve.

[2022-10-14 08:01] crazyming9528 commented on #282
Just like the useImperativeHandle hook in react, can expose the methods of components.

eg.
`
class MyElement extends HTMLElement {
  ...

  doSomething() {
    // do something in this method
  }

const element = document.querySelector('my-element');
element.doSomething();
`

[2022-10-17 18:43] crazyming9528 commented on #282
@PrimaMateria  Can you help me solve this problem, it is very urgent, thank you very much

[2022-10-18 09:51] PrimaMateria commented on #282
I don't have any knowledge about that, so I am not able to help you.

[2022-10-18 16:38] crazyming9528 commented on #282
ok,thanks for your reply~

[2022-11-01 18:03] crazyming9528 commented on #282
I use   custom event to call a method inside the component

[2022-11-08 11:19] RomanGlazkov opened #283 "Can I import React components which use css modules"
Hi,

I'm trying to import React components from an external repository where I have my own library of components. These components use css modules. When I use a build of direflow component in my javascript project the styles are not applied.

Is there a way to fix this behaviour?

[2022-11-08 19:25] MaksimLavrenyuk commented on #283
@SimonHoiberg
@JohnDeved

If this functionality needs to be improved in the package, I would be happy to implement it. I would be very grateful if you could tell me where to start.

[2022-11-27 22:59] use-the-fork commented on #255
For anyone wondering about doing this I ended up switching to this package:
https://github.com/bitovi/react-to-webcomponent

it works just as well but with the newest tech